/* contains the common files for the SignUp and SignIn page */

/* Background Image */
body {
    box-sizing: border-box;
    background-image: url(/media/bg-images/dark-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Background Image */

/* form container */
div.content-section {
    width:600px;
    padding: 30px 30px 10px 30px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    margin-top: 60px;
    margin-bottom: 50px;
}

/* form container */

/* SPE logo */
img#spe-logo {
    height: 250px;
    margin-bottom: 20px;
}
/* SPE logo */

/* Horizontal Divider */
hr.accent-2 {
    background-color: #0d4c92;
    width: 500px;
    margin: 20px;
    height: 1px;
}
/* Horizontal Divider */

a#SignUpAnchor {
    text-decoration: none;
}

button#SignUpBtn, button#SignInBtn {
    width: 500px;
    font-size: 25px;
    margin: 20px;
}