/*This is from a location*/

html,
body {
    height: 80vh;
    width: 100vw;
    overflow: hidden !important;
}

body {
    /*background: #1f1f1f;*/
    font-family: "Raleway", sans-serif;
    overflow-x: hidden !important;
}

h1,
h2,
h3,
h4 {
    font-family: "Abril Fatface", serif;
}

#container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.slide {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}

.slide.last-viewed .btn-close:after {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.slide.last-viewed .btn-close:before {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.slide.last-viewed .content .city-info {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.slide.last-viewed .content .city-info li:nth-of-type(1) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.slide.last-viewed .content .city-info li:nth-of-type(2) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.slide.last-viewed .content .city-info li:nth-of-type(3) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.slide.last-viewed .content .emblem {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.slide.last-viewed .image,
.slide.active .image {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.slide.active {
    cursor: default;
}

.slide.active .overlay {
    width: 25%;
    background-size: 100% 100%;
    -webkit-transition: all 1.25s ease-in-out;
    transition: all 1.25s ease-in-out;
    -webkit-transition-delay: 1.75s;
    transition-delay: 1.75s;
}

.slide.active .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.slide.active .content .title {
    width: 25%;
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transition-delay: 1.25s;
    transition-delay: 1.25s;
}

.slide.active .content .title:after {
    height: 100%;
    color: white;
    overflow: initial;
}

.slide.active .content .title:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
}

.slide.active .content .city-info {
    opacity: 1;
}

.slide.active .content .city-info li {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide.active .content .emblem {
    opacity: 0.8;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}

.slide.active .btn-close {
    cursor: pointer;
    pointer-events: auto;
}

.slide.active .btn-close:before,
.slide.active .btn-close:after {
    opacity: 1;
}

.slide.active .btn-close:after {
    -webkit-transform: rotate(45deg) translateX(0px);
    transform: rotate(45deg) translateX(0px);
}

.slide.active .btn-close:before {
    -webkit-transform: rotate(-45deg) translateX(0px);
    transform: rotate(-45deg) translateX(0px);
}

.slide.anim-in {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.slide.anim-in .image {
    top: -20%;
    left: -140%;
    height: 140%;
    width: 140%;
    -webkit-animation: img-anim-in 1.2s ease-in-out forwards;
    animation: img-anim-in 1.2s ease-in-out forwards;
}

.slide.anim-out {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    cursor: default;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.slide.anim-out .image {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-animation: img-anim-out 1.2s ease-in-out forwards;
    animation: img-anim-out 1.2s ease-in-out forwards;
}

.slide:nth-of-type(1).anim-in .image {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.slide:nth-of-type(1).anim-out .image {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.slide:nth-of-type(2).anim-in .image {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.slide:nth-of-type(2).anim-out .image {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.slide:nth-of-type(3).anim-in .image {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.slide:nth-of-type(3).anim-out .image {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.slide:nth-of-type(4).anim-in .image {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.slide:nth-of-type(4).anim-out .image {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.slide .image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    pointer-events: none;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0));
    background-image: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0));
    background-position: 0 0;
    background-size: 100% 200%;
    opacity: 1;
    pointer-events: none;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slide .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.slide .content .title {
    position: absolute;
    top: -10px;
    height: 65px;
    width: 100%;
    box-sizing: border-box;
    font-size: 3em;
    text-align: center;
    text-shadow: 0 2px 2px #2f2f2f;
    color: #3f3f3f;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slide .content .title:after {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    display: block;
    content: attr(data-title);
    overflow: hidden;
    color: #fff59d;
    -webkit-transition: all 0.85s ease-in-out;
    transition: all 0.85s ease-in-out;
}

.slide .content .title:before {
    position: absolute;
    bottom: 15px;
    display: block;
    content: "";
    height: 2px;
    width: 85%;
    background: white;
    box-shadow: 0 2px 6px #2f2f2f;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 1.25s ease-in-out;
    transition: -webkit-transform 1.25s ease-in-out;
    transition: transform 1.25s ease-in-out;
    transition: transform 1.25s ease-in-out, -webkit-transform 1.25s ease-in-out;
}

.slide .content .emblem {
    position: absolute;
    height: 200px;
    width: 25%;
    opacity: 0;
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transition-delay: 1.75s;
    transition-delay: 1.75s;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.slide .content .city-info {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 30px 30px 30px 120px;
    font-size: 1.25em;
    color: white;
    text-shadow: 0 1px 4px #0f0f0f;
    background-image: -webkit-linear-gradient(left, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.7));
    background-image: linear-gradient(90deg, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.7));
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
}

.slide .content .city-info li {
    position: relative;
    margin-bottom: 5px;
    text-align: justify;
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}

.slide .content .city-info li:nth-of-type(1) {
    -webkit-transition-delay: 2.7s;
    transition-delay: 2.7s;
}

.slide .content .city-info li:nth-of-type(2) {
    -webkit-transition-delay: 2.9s;
    transition-delay: 2.9s;
}

.slide .content .city-info li:nth-of-type(3) {
    -webkit-transition-delay: 3.1s;
    transition-delay: 3.1s;
}

.slide .btn-close {
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px;
    height: 24px;
    width: 24px;
    pointer-events: none;
}

.slide .btn-close:before,
.slide .btn-close:after {
    position: absolute;
    top: 12px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: white;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slide .btn-close:after {
    -webkit-transform: rotate(45deg) translateX(-12px);
    transform: rotate(45deg) translateX(-12px);
    -webkit-transition-delay: 3s;
    transition-delay: 3s;
}

.slide .btn-close:before {
    -webkit-transform: rotate(-45deg) translateX(12px);
    transform: rotate(-45deg) translateX(12px);
    -webkit-transition-delay: 3.2s;
    transition-delay: 3.2s;
}

.slide:hover:not(.active):not(.anim-out) .image {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.slide:hover:not(.active):not(.anim-out) .overlay {
    opacity: 0.6;
}

.slide:hover:not(.active):not(.anim-out) .content .title {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
}

.slide:hover:not(.active):not(.anim-out) .content .title:after {
    height: 100%;
}

@-webkit-keyframes img-anim-in {
    to {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

@keyframes img-anim-in {
    to {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

@-webkit-keyframes img-anim-out {
    to {
        left: -100%;
    }
}

@keyframes img-anim-out {
    to {
        left: -100%;
    }
}


/* This is second section*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #333;
}

a {
    color: #fff;
}

.row {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
    clear: both;
}

.row img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.gallery ul li {
    float: left;
    margin: 0 0.87719%;
    overflow: hidden;
}

header {
    background-color: #E0E0E0;
    color: #fff;
    text-align: center;
    padding: 30px 0 120px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 0.8;
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
}

header h1 span {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 25px;
    line-height: 1;
}

header p {
    padding-top: 30px;
}

.gallery {
    padding: 40px 0 300px;
    position: relative;
    overflow: hidden;
}

.gallery ul {
    padding-top: 50px;
    position: relative;
}

.gallery ul li {
    margin-bottom: 20px;
    width: 23.24561%;
    position: relative;
}

.gallery ul li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.gallery ul li a:before {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 40%;
    left: 50%;
    margin: -14px 0 0 -16px;
    content: "";
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.gallery ul li a:hover:before {
    top: 50%;
    opacity: 1;
}

.gallery ul li a:after {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.gallery ul li a:hover:after {
    opacity: 1;
}

.port {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    background: #ffffff;
    background-color: #fafafa;
    z-index: 103;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    border-bottom: 1px solid #d0d0d0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.port img {
    width: 50%;
}

.port .description {
    float: left;
    width: 50%;
    max-height: 100%;
    padding: 0 40px 40px;
    overflow: auto;
}

.port h1 {
    font-size: 35px;
    line-height: 2.3;
    padding: 0;
}

.port>* {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.port.item_open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.port>* {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.close {
    width: 21px;
    height: 21px;
    position: absolute;
    right: 10px;
    top: -121px;
    opacity: 1;
    z-index: 1004;
    background-color: black;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.item_open .close {
    opacity: 1;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}