{% extends "pages/base.html" %}
{% load markdown_extras %}
{% load static %}

    <!-- Adding stylesheet to base template -->
    {% block content-blog %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/blog-main.css' %}">
    {% endblock %}
    <!-- Adding stylesheet to base template -->

    {% block content %}

        <!-- Post Body -->
        <div class="col-md-9" style="padding-left: 10%;">
            <div class="media-body">
                <p> </p>
                <h1 class="article-title">{{ object.title }}</h1>
                <hr>
                {%if object.image%}
                <img style="width: 80%;" src ="{{ object.image.url }}">
                {%endif%}
                <p class="article-content">{{ object.content| markdown |safe }}</p>
                <p> Last date to register : {{ object.reg_date|date:"M j, Y"}} </p>
                <!--if event has happened, dont display registration button-->
                {% if object.has_happened %}
                    <p></p>
                {% else %}
                    <a href="{{object.google_doc_url}}">
                        <button type="button" class="btn btn-primary">Register</button>
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- Post Body -->

    {% endblock content %}