{% extends "pages/base.html" %}
{% load static %}

    <!-- Adding stylesheet to base template -->
    {% block content-blog %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/blog-main.css' %}">
    {% endblock %}
    <!-- Adding stylesheet to base template -->

    {% block content %}

        <!-- Post Body -->
        <div class="col-md-9" style="padding-left: 10%;">
            <div class="media-body">
                <p> </p>
                <h1 class="article-title">{{ object.title }}</h1>
                <hr>
                <img style="width: 80%;" src ="{{ object.image.url }}">

                <p class="article-content">{{ object.content }}</p>
                <p> Last date to register : {{ object.reg_date|date:"M j, Y"}} </p>
                <a class="btn btn-info mb-4" href="#">Register now!</a>
            </div>
        </div>
        <!-- Post Body -->

    {% endblock content %}