{% extends "pages/base.html" %}
{% load markdown_extras %}
{% load crispy_forms_tags %}
{% load static %}

    <!-- Adding stylesheet to base template -->
    {% block content-blog %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/blog-main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'events/eventregistration.css' %}">
    {% endblock %}
    <!-- Adding stylesheet to base template -->

    {% block content %}
        <br><br><br><br><br>

    <div class="col-md-8 d-flex justify-content-center" style="padding-left: 5%; left: 300px;">
        <div class="content-section" style="width: 600px;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class ="form-group">
                <h1 class="border-bottom mb-4 d-flex justify-content-center" id="Title" style="font-family:'adam.cg pro'; font-size: 200%;">Registration Form</h1>
                {{ r_form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" id="Btn" type="submit" style=" margin: 20px 0 30px 0; height: 40px; width: 100px; font-size: 16px;">
                    Register
                </button>
            </div>
        </form>
        </div>

        <br>
        <br>
        <br>
    </div>

<style>
    @media screen and (max-width: 770px) {
        html{
            overflow: hidden;
        }
        .form-group{
            width: 300px;
            margin-left: -45%;
        }
        #Title {
            font-size: 2.5em;
            margin-left: -90%;
        }
        #Btn {
            margin-left: -10% !important;
        }
    }
</style>

    {% endblock content %}