{% extends "pages/base.html" %}
{% load markdown_extras %}
{% load crispy_forms_tags %}
{% load static %}

    <!-- Adding stylesheet to base template -->
    {% block content-blog %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/blog-main.css' %}">
        
    {% endblock %}
    <!-- Adding stylesheet to base template -->

    {% block content %}
    <div class="col-md-8" style="padding-left: 5%;">
        <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class ="form-group">
                <legend class="border-bottom mb-4">
                    Registraion Form
                </legend>
                {{r_form | crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Register</button>
            </div>
        </form>
        </div>
    </div>
    {% endblock content %}