{% extends "pages/base.html" %}
{% load static %}

    <!-- Adding stylesheet to base template -->
    {% block content-blog %}
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/blog-body.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/post-body.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/button-group.css' %}">
    {% endblock content-blog %}
    <!-- Adding stylesheet to base template -->

    {% block content %}
        <div class="d-block mx-auto">
            <h1 class="d-flex justify-content-center" id="PageTitle">SPE Blogs</h1>
            <hr class="d-flex justify-content-center" id="UnderlineTitle">

            <div id="PostContainer">
                <!-- Blog Post body -->
                {% for post in posts %}
                    <div id="PostBody" class="media content-section">
                        <div class="media-body">
                            <img id="PostImage" src="{{ post.image.url }}">
                            <h1 id="ArticleTitle">{{ post.title }}</h1>
                            <div id="ArticleMetaData">
                                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                                <small class="text-muted">{{ post.date_posted|date:"M j, Y"}}</small>
                                <hr id="Underline" align="left">
                            </div>
                            <p class="article-content">{{ post.overview }}</p>
                            <a href="{% url 'post-detail' post.id %}">
                                <button type="button" class="btn btn-primary">Read More</button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <!-- Blog Post body -->
            </div>

            <!-- Next/Previous Button Group -->
<!--            <div class="d-flex justify-content-center">-->
<!--                {% if is_paginated %}-->

<!--                    {% if page_obj.has_previous %}-->
<!--                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">-->
<!--                            <<-->
<!--                        </a>-->
<!--                    {% endif %}-->

<!--                    {% for num in page_obj.paginator.page_range %}-->
<!--                        {% if page_obj.number == num %}-->
<!--                            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>-->
<!--                        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}-->
<!--                            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>-->
<!--                        {% endif %}-->
<!--                    {% endfor %}-->

<!--                    {% if page_obj.has_next %}-->
<!--                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">-->
<!--                            >>-->
<!--                        </a>-->
<!--                    {% endif %}-->

<!--                {% endif %}-->
<!--                </div>-->
<!--            </div>-->

            <!-- Next/Previous Button Group -->
            <div class="d-flex justify-content-center">
                {% if is_paginated %}

                    {% if page_obj.has_previous %}
                        <a class="btn btn-grp mb-4" href="?page={{ page_obj.previous_page_number }}">
                            <span class="material-icons">arrow_back_ios</span>
                        </a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn btn-grp mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                            <a class="btn btn-grp mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <a class="btn btn-grp mb-4" href="?page={{ page_obj.next_page_number }}">
                        <span class="material-icons">arrow_forward_ios</span>
                    </a>
                    {% endif %}

                {% endif %}
            </div>
            <!-- Next/Previous Button Group -->

    {% endblock content %}
