{% extends "pages/base.html" %}
{% load markdown_extras %}
{% load static %}

    <!-- Adding stylesheet to base template -->
    {% block content-blog %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/blog-body.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/post-styles.css' %}">
    {% endblock content-blog %}
    <!-- Adding stylesheet to base template -->

    {% block content %}

        <!-- Post Body -->
        <br><br><br><br><br><br><br>

        <div class="d-flex justify-content-center">
            <div id="PostContainer" class="col-md-10">
                <div class="media-body">

                    <!-- Post Title -->
                    <h1 id="PostTitle" class="article-title d-flex justify-content-center">{{ object.title }}</h1>
                    <!-- Post Title -->
                    <hr id="PostUnderline" class="d-flex justify-content-center">

                    <!-- Post author and Date -->
                    <div id="PostAuthDate" class="d-flex justify-content-center">
                        <div class="article-metadata">Author:
                            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                            <small class="text-muted">{{ object.date_posted|date:"M j, Y"}}</small>
                        </div>
                    </div>
                    <!-- Post author and Date -->

                    <!-- Post Image -->
                    <img id="PostImage" src ="{{ object.img_url }}">
                    <!-- Post Image -->

                    <!-- Post Content -->
                    <p class="article-content">{{ object.content | markdown | safe }}</p>
                    <!-- Post Content -->

                </div>
            </div>
        </div>
        <!-- Post Body -->

    {% endblock content %}