{% extends "pages/base.html" %}
{% load static %}

    <!-- Adding stylesheet to base template -->
    {% block content-blog %}
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/blog-body.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/post-styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/post-body.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/button-group.css' %}">
    {% endblock content-blog %}
    <!-- Adding stylesheet to base template -->

    {% block content%}

        <!--User info only visible to logged in user-->
        <!--style it-->
        {% if req_user == user %}
            <h1>Username: {{user.username}}</h1>
            <h2>Email: {{user.email}}</h2>
            <!--add other fields here when models are created-->
        {% endif %}
        <!--end user info-->

        <div class="d-block mx-auto">

            <!-- Heading for this page -->
            <h1 class="mb-3 d-flex justify-content-center" id="UserBlogTitle">
                Blogs by {{ view.kwargs.username }} {{req_user.username}}    ({{ posts.paginator.count }})
            </h1>
            <!-- Heading for this page -->

            <hr class="d-flex justify-content-center" id="UserPostTitleUnderline">

            <!-- Blog Post Body -->
            <div id="PostContainer">
            {% for post in posts %}
                    <div id="PostBody" class="media content-section">
                        <div class="media-body">
                            <img id="PostImage" src="{{ post.image.url }}">
                            <h1 id="ArticleTitle">{{ post.title }}</h1>
                            <div id="ArticleMetaData">
                                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                                <small class="text-muted">{{ post.date_posted|date:"M j, Y"}}</small>
                                <hr id="Underline" align="left">
                            </div>
                            <p class="article-content">{{ post.overview }}</p>
                            <a href="{% url 'post-detail' post.id %}">
                                <button type="button" class="btn btn-primary">Read More</button>
                            </a>
                        </div>
                    </div>
            {% endfor %}
            </div>
            <!-- Blog Post Body -->

            <!-- Next/Previous Buttons -->
            <div class="d-flex justify-content-center">
                {% if posts.has_other_pages %}

                    {% if posts.has_previous %}
                        <a class="btn btn-grp mb-4" href="?page={{ page_obj.previous_page_number }}">
                            <span class="material-icons">arrow_back_ios</span>
                        </a>
                    {% endif %}

                    {% for num in posts.paginator.page_range %}
                        {% if posts.number == num %}
                            <a class="btn btn-grp mb-4" href="?page={{ num }}">{{num}}</a>
                        {% elif num > posts.number|add:'-2' and num < posts.number|add:'2' %}
                            <a class="btn btn-grp mb-4" href="?page={{ num }}">{{num}}</a>
                        {% endif %}
                    {% endfor %}

                    {% if posts.has_next %}
                        <a class="btn btn-grp mb-4" href="?page={{page_obj.next_page_number}}">
                            <span class="material-icons">arrow_forward_ios</span>
                        </a>
                    {% endif %}

                {% endif %}
                </div>
            </div>
            <!-- Next/Previous Buttons -->



    {% endblock content %}
