{% extends 'pages/base.html' %} {% load static %} {% block content-blog %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/about.css' %}"> {% endblock content-blog %} {% block content %}
<div class="hero-image" style="margin-top: -14px; overflow: hidden;">
    <div class="hero-text">
        <h1 style="font-family: 'Barlow', sans-serif; font-size: 80px; font-weight: 900;" data-aos="fade-down" data-aos-duration="3000">About us</h1>
    </div>
    <a href="#" id="downBtn">
        <span class="container" style="height: 24px; width: 24px; position: relative; left: 50%; top: 60%;">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            <!-- <a class="down" href="#">Scroll down</a> -->
        </span>
    </a>
</div>

<!-- WHO WE ARE SECTION -->

<div class="container-fluid" style="padding: 6% 4%;">
    <div style="font-family: 'Dosis', sans-serif; color:#323d47; font-size:5rem; font-weight:600 ;text-align:center; padding: 3% 0%;">
        <p>WHO ARE WE?</p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12" style="width: 100%; height: 500px; overflow: hidden;">
            <img src="https://miro.medium.com/max/13200/1*oZLddY0kmdL695Gtpu2ODQ.jpeg" style="height:100%;">
        </div>
        <div class="col-md-6 col-sm-12" style="color: black; font-family: 'Open Sans', sans-serif; line-height: 1.8;font-size: 2.0rem; font-weight:500; padding: 0 2%;">
            <p>Since 1984, SPE IIT(ISM) STUDENT CHAPTER has kept expanding itself to from its being. Taking the oath to help the students, the institute and the society in general, it has been paving an incredible path. From being, one of its kind in the
                country to be the OUTSTANDING STUDENT CHAPTER (2010 & 2015) globally, it has not only brought laurels to the institute but also the country at the global level. Its been all possible because of its strong commitment of helping students
                learn more about the industry through offering the opportunity to network with company spokespeople, nurturing the exchange of ideas with others, and intensifying their knowledge through a plethora of educational and tech events throughout
                the year. Till date, it's in constant engagement with the students to make them global citizens by fostering the leadership as well as the management skills.
            </p>
        </div>
    </div>
</div>

<!-- AIM OF THE CHAPTER -->


<div class="container aim" style="padding: 0% 4%; overflow: hidden; background-image: url(https://kecbio.com/wallpaper/hot-pink-minimalist-hd-desktop-wallpaper-For-Full-Resolution-Wallpaper.jpg); ">
    <div style="font-family: 'Dosis', sans-serif; color:#323d47; font-size:5rem; text-align:center; font-weight: 600;">
        <p>AIM OF THE CHAPTER</p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12" data-aos="fade-right" data-aos-duration="1500">
            <img src="https://img.freepik.com/vecteurs-libre/hommes-affaires-travaillant-discutant-problemes-tableaux-donnees_1262-19726.jpg?size=626&ext=jpg&ga=GA1.2.1246410860.1598659200" style="width: 100%; height: 500px; object-fit: cover;">
        </div>
        <div class="col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="1500">
            <p style="color: black; padding: 10% 0; font-size: 2.0rem; line-height: 2.0;">The chapter is devoted to fulfilling the mission of SPE international- "To collect, disseminate, and exchange technical knowledge concerning the exploration, development and production of oil and gas resources, and related technologies for
                the public benefit; and to provide opportunities for professionals and students to enhance their technical and professional competence.”</p>
        </div>
    </div>
</div>

<!-- ACHIEVEMENTS OF THE CHAPTER -->
<div class="parallax" style="background-image: url('https://i.imgur.com/U0aD07q.png') !important;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;">
    <div class="container" style="padding:5% 0%;">
        <div style="font-family: 'Dosis', sans-serif; color:white; font-size:6rem; font-weight:600;text-align:center; letter-spacing:3px">
            <p>ACHIEVEMENTS</p>
        </div>

        <section class="timeline" style="overflow: hidden;">
            <div class="container">

                <div class="timeline-item" data-aos="flip-left" data-aos-duration="1500">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>PetroBowl Asia Pacific Regional Qualifiers</h2>
                        </div>
                        <div class="date">Year 2020</div>
                        <p>Debosmit Banerjee, Nikhil Singh Kushwah, Suyash Aakash, Aman Kumar and Anurag Jain won the PetroBowl Asia Pacific Regional Qualifiers 2020. The team won accolades by securing the first position among 34 participating teams.</p>
                    </div>

                </div>

                <div class="timeline-item" data-aos="flip-right" data-aos-duration="1500">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>International Petroleum Technology Conference</h2>
                        </div>
                        <div class="date">Year 2020</div>
                        <p>Debosmit Banerjee represented IIT (ISM) at the International Petroleum Technology Conference (IPTC) 2020. His team won the 1st Position in Schlumberger’s Case Study at IPTC 2020.</p>
                    </div>

                </div>


                <div class="timeline-item" data-aos="flip-left" data-aos-duration="1500">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>BRICS Youth Energy Outlook</h2>
                        </div>
                        <div class="date">Year 2020</div>
                        <p>Prithvi Chauhan, Debosmit Banerjee, Shubham Agarwal, Aman Kumar and Suyash Vatsa were the Champions of the BRICS Youth Energy Outlook 2020 reflecting on the need of the youth workforce to collaborate actively to produce positive
                            social change.
                        </p>
                    </div>

                </div>


                <div class="timeline-item" data-aos="flip-right" data-aos-duration="1500">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>RSPC and SPE Annual Technical Conference and Exhibition</h2>
                        </div>
                        <div class="date">Year 2019</div>
                        <p> Prithvi Singh Chauhan won SPE South Asia Regional Student Paper Contest (RSPC), 2019 and represented IIT (ISM) at SPE Annual Technical Conference and Exhibition (ATCE) 2019.</p>
                    </div>

                </div>
                <div class="timeline-item" data-aos="flip-left" data-aos-duration="1500">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Indian Youth delegation to China</h2>
                        </div>
                        <div class="date">Year 2019</div>
                        <p>Ajink Gupta, Debosmit Banerjee and Harshit Pathak represented India as a part of the Indian Youth delegation to China 2019 sponsored by the Ministry of Youth Affairs and Sports, Government of India.
                        </p>
                    </div>

                </div>

                <div class="timeline-item" data-aos="flip-right" data-aos-duration="1500">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>IMTR Award</h2>
                        </div>
                        <div class="date">Year 2017, 2016</div>
                        <p>Sunil Kumar and Nilanjan Pal won the IMTR Award in 2016 and 2017, respectively.</p>
                    </div>
                </div>

                <div class="timeline-item" data-aos="flip-left" data-aos-duration="1500">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Best Student Chapter Award</h2>
                        </div>
                        <div class="date">Year 2016</div>
                        <p>Petrotech IIT (ISM) student chapter won the Best Student Chapter Award 2016. Became the first runner up for Best Presentation Award at 7th annual convention of Petrotech chapters at MIT Pune.</p>
                    </div>

                </div>

                <div class="timeline-item" data-aos="flip-right" data-aos-duration="1500">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>SPE/IADC Middle East Drilling Technology Conference and Exhibition</h2>
                        </div>
                        <div class="date">Year 2016</div>
                        <p>A delegation of 5 students represented IIT(ISM) at SPE/IADC Middle East Drilling Technology Conference and Exhibition held at Abu Dhabi in 2016.</p>
                    </div>
                </div>

                <div class="timeline-item" data-aos="flip-left" data-aos-duration="1500">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Gold Standard Award and Outstanding Student Chapter Award</h2>
                        </div>
                        <div class="date">Year 2016, 2015, 2013, 2012, 2011, 2010</div>
                        <p>SPE IIT (ISM) student chapter won the Gold Standard Award in 2016, 2013, 2012, 2011 and Outstanding Student Chapter Award 2015 and 2010. Hosted the SPE South Asia Regional Meet of 2016.</p>
                    </div>

                </div>

            </div>
        </section>
    </div>
</div>


<!-- NOTABLE ALUMINIS -->

<div class="container" style="overflow: hidden !important; padding: 5% 0%;" data-aos="fade-up" data-aos-duration="1500">
    <div style="font-family: 'Dosis', sans-serif; color:#323d47; text-align:center;overflow: hidden !important;">
        <p style="font-size:5rem; font-weight: 700;">NOTABLE ALUMNI</p>
        <br>
        <!-- <p style="font-size:3.0rem;">DR. AJAY MANDAL</p> -->
        <p style="color: #757575; font-size: 2.2rem;">IIT(ISM) Dhanbad has a strong alumni base with our alumni carving a niche for themselves in every field. We have a lasting legacy of making a remarkable contribution to the industries associated with Earth resources and energy. IIT (ISM) rising
            global stature is credited to its charismatic alumni whose stupendous achievements in myriad fields continue to make us proud. They act as brand ambassadors of the institute and provide to the institute and its students an incredible network
            for mentorship and other academic and professional engagements. Our esteemed alumni have always been our most valuable resource.
        </p>
        <br>
    </div>
    <main>
        <ol class="gradient-list">
            <li><strong>Dr. Ram Gopal Agarwal</strong> (Batch of 1961)
                <p>
                    VP - PetroTel, Ex Sr. Tech. Advisor BP, AIME Hon. Member, SPE Distinguished Member.
                </p>
            </li>
            <li><strong>Dr. Anil Kumar</strong> (Batch of 1965)
                <p>
                    Prestigious "Anthony F. Lucas Gold Medal" award winner presented by the Society of Petroleum Engineers.
                </p>
            </li>
            <li><strong>Shri Naresh Vashisht</strong> (Batch of 1967)
                <p>
                    Founder and President - Omimex resources Inc. Philanthropist.
                </p>
            </li>
            <li><strong>Dr. Ganesh Thakur</strong> (Batch of 1970)
                <p>
                    Professor of Petroleum Engineering at University of Houston, Ex-VP Chevron.
                </p>
            </li>
            <li><strong>Shri NK Mitra</strong> (Batch of 1972)
                <p>
                    Chief Advisor - McDermott International Ltd, Ex-Director (Offshore) - ONGC.
                </p>
            </li>
            <li><strong>Dr. Akhil Datta Gupta </strong> (Batch of 1980)
                <p>
                    Professor & LeSuer Chair - Texas A&M University, Member - N.A.E., SPE Hon. Member.
                </p>
            </li>
            <li><strong>Shri Sidhartha Sur</strong> (Batch of 1980)
                <p>
                    Director (Operations) - AskEOR Tech Hydrocarbon Pvt Ltd, Ex-Director (IRS) - ONGC, Ex-CEO - Mansarovar Energy Colombia Ltd.
                </p>
            </li>
            <li><strong>Mr Utpal Bora</strong> (Batch of 1981)
                <p>
                    Chairman and Managing Director - Oil India Limited (OIL).
                </p>
            </li>
            <li><strong>Shri Shashi Shankar</strong> (Batch of 1982)
                <p>
                    Chairman & Managing Director - ONGC.
                </p>
            </li>
            <li><strong>Anoop Poddar</strong> (Batch of 1994)
                <p>
                    Senior Partner and President of EV Private Equity, an independent growth equity firm, former CEO and one of the founding members of the private equity firm First Reserve Momentum.
                </p>
            </li>
        </ol>
    </main>
</div>


<!-- SCROLL DOWN JS -->
<script>
    $("#downBtn ").click(function() {
        $('#textBody').scrollTop($('#textBody').scrollTop() + 20);;
    });
</script>

{% endblock content %}