{% extends 'pages/base.html' %} {% load static %} {% block content-blog %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/about.css' %}"> {% endblock content-blog %} {% block content %}
<div class="hero-image" style="margin-top: -14px; overflow: hidden;">
    <div class="hero-text">
        <h1 style="font-size:50px; font-family: 'Carter One', cursive; font-size: 80px;" data-aos="fade-down" data-aos-duration="3000">About us</h1>
    </div>
    <a href="#" id="downBtn">
        <span class="container" style="height: 24px; width: 24px; position: relative; left: 50%; top: 60%;">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            <!-- <a class="down" href="#">Scroll down</a> -->
            </span>
    </a>
</div>

<!-- WHO WE ARE SECTION -->

<div class="container-fluid" style="padding: 3% 4%;">
    <div style="font-family: 'Dosis', sans-serif; color:#323d47; font-size:4rem; font-weight:400 ;text-align:center">
        <p>WHO WE ARE?</p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12" style="width: 100%; height: 500px; overflow: hidden;">
            <img src="https://miro.medium.com/max/13200/1*oZLddY0kmdL695Gtpu2ODQ.jpeg" style="height:100%;">
        </div>
        <div class="col-md-6 col-sm-12" style="color: black; font-family: 'Open Sans', sans-serif; line-height: 1.5;font-size: 2.0rem; font-weight:500; padding: 3% 2%;">
            <p>Since 1984, SPE IIT(ISM) STUDENT CHAPTER has kept expanding itself to from its being. Taking the oath to help the students, the institute and the society in general, it has been paving an incredible path. From being, one of its kind in the
                country to be the OUTSTANDING STUDENT CHAPTER (2010 & 2015) globally, it has not only brought laurels to the institute but also the country at the global level. Its been all possible because of its strong commitment of helping students
                learn more about the industry through offering the opportunity to network with company spokespeople, nurturing the exchange of ideas with others, and intensifying their knowledge through a plethora of educational and tech events throughout
                the year. Till date, it's in constant engagement with the students to make them global citizens by fostering the leadership as well as the management skills.
            </p>
        </div>
    </div>
</div>

<!-- AIM OF THE CHAPTER -->


<div class="container aim" style="padding: 0% 4%; overflow: hidden; background-image: url(https://kecbio.com/wallpaper/hot-pink-minimalist-hd-desktop-wallpaper-For-Full-Resolution-Wallpaper.jpg); ">
    <div style="font-family: 'Dosis', sans-serif; color:#323d47; font-size:3.5rem; text-align:center">
        <p>AIM OF THE CHAPTER</p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12" data-aos="fade-right" data-aos-duration="1500">
            <img src="https://img.freepik.com/vecteurs-libre/hommes-affaires-travaillant-discutant-problemes-tableaux-donnees_1262-19726.jpg?size=626&ext=jpg&ga=GA1.2.1246410860.1598659200" style="width: 100%; height: 500px; object-fit: cover;">
        </div>
        <div class="col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="1500">
            <p style="color: black; padding: 10% 0; font-size: 2.0rem;">The chapter is devoted to fulfilling the mission of SPE international "To collect, disseminate, and exchange technical knowledge concerning the exploration, development and production of oil and gas resources, and related technologies for
                the public benefit; and to provide opportunities for professionals and students to enhance their technical and professional competence.”</p>
        </div>
    </div>
</div>

<!-- ACHIEVEMENTS OF THE CHAPTER -->

<div class="container" style="padding:3% 0%">
    <div style="font-family: 'Dosis', sans-serif; color:#323d47; font-size:4rem; font-weight:400;text-align:center; letter-spacing:0.5px">
        <p>ACHIEVEMENTS</p>
    </div>

    <section class="timeline" style="overflow: hidden;">
        <div class="container">

            <div class="timeline-item" data-aos="flip-left" data-aos-duration="1500">

                <div class="timeline-img"></div>

                <div class="timeline-content timeline-card js--fadeInRight">
                    <div class="timeline-img-header">
                        <h2>OUTSTANDING STUDENT CHAPTER AWARD</h2>
                    </div>
                    <div class="date">Year 2010</div>
                    <p>First of its kind in India, buoyed by the department, the chapter brought wreaths globally when it won the OUTSTANDING STUDENT CHAPTER AWARD in the year 2010. The award was presented to the chapter taking in view the distinctive level
                        of participation during a single academic session. </p>
                </div>

            </div>

            <div class="timeline-item" data-aos="flip-right" data-aos-duration="1500">

                <div class="timeline-img"></div>

                <div class="timeline-content timeline-card js--fadeInRight">
                    <div class="timeline-img-header">
                        <h2>OUTSTANDING STUDENT CHAPTER AWARD</h2>
                    </div>
                    <div class="date">Year 2015</div>
                    <p>As it says "It's easy to win but it's difficult to keep it". The chapter triumphed in retaining this status in 2015 by being again bestowed with the same award.</p>
                </div>

            </div>


            <div class="timeline-item" data-aos="flip-left" data-aos-duration="1500">

                <div class="timeline-img"></div>

                <div class="timeline-content timeline-card js--fadeInRight">
                    <div class="timeline-img-header">
                        <h2>GOLD STATUS AWARD</h2>
                    </div>
                    <div class="date">Year 2011-2014</div>
                    <p>It has been a constant awardee of the GOLD STATUS AWARD successively in the years 2011-2014, preserving its performance in the category of membership, event planning and professionalism. </p>
                </div>

            </div>

            <div class="timeline-item" data-aos="flip-right" data-aos-duration="1500">

                <div class="timeline-img"></div>

                <div class="timeline-content timeline-card js--fadeInRight">
                    <div class="timeline-img-header">
                        <h2>SUB REGIONAL PAPER MEET</h2>
                    </div>
                    <div class="date">Year 2012 & 2016</div>
                    <p>The chapter conducted SUB REGIONAL PAPER MEET in the years 2012 and 2016, where participants throughout the country presented their meticulous work, making it a huge success.</p>
                </div>

            </div>

            <div class="timeline-item" data-aos="flip-left" data-aos-duration="1500">

                <div class="timeline-img"></div>

                <div class="timeline-content timeline-card js--fadeInLeft">
                    <div class="timeline-img-header">
                        <h2>SOCIAL CONTRIBUTIONS</h2>
                    </div>
                    <p>In its endeavours to extend its social responsibilities, the chapter has conducted events like "GIVING TUESDAY" and setting up blood donation camps coordinating with "FAST FORWARD INDIA" an Institute founded NGO.</p>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- FACULTY ACHIEVEMENTS -->

<div class="container" style="overflow: hidden !important;">
    <div style="font-family: 'Dosis', sans-serif; color:#323d47; text-align:center;overflow: hidden !important;">
        <p style="font-size:3.5rem;">FACULTY ACHIEVEMENTS</p>
        <br>
        <p style="font-size:3.0rem;">DR. AJAY MANDAL</p>
        <p style="color: #757575; font-size: 2.2rem;">Professor( Petroleum Engineering )</p>
        <br>
    </div>
    <div style="text-align: center;">
        <img style="width:200px; height: auto;" src="https://iitism.irins.org/assets/profile_images/608632.jpg" alt="Ajay Mandal">
    </div>
    <div style="font-size: 2rem; padding: 2% 0%;">
        <p>Dr. Ajay Mandal is currently working as Professor & Head of the Department of Petroleum Engineering at the Indian Institute of Technology (Indian School of Mines), Dhanbad. He has made us proud numerous times with his achievements:
            <ul>
                <li> Dr. Mandal is a recipient of the prestigious DAAD Fellowship of Germany in 2008.</li>
                <li>He has been awarded 2019 SPE Reservoir Dynamics and Description Regional Award for South Asia and Pacific region & 2015 SPE South Asia Regional Distinguished Achievement Award for Petroleum Engineering Faculty.</li>
                <li>IIChE (Indian Institute of Chemical Engineers) Award for the Year 2017 (ONGC Award for Excellence in Design and Development).</li>
                <li>The Inder Mohan Thapar Foundation (IMTF) Research Award from IIT(ISM) for the year 2016-17, 17-18 and 18-19 (Jointly with Ph.D. students).</li>
                <li>Canara Bank Best Research Award in IIT (ISM), 2014 & 2015, 2016, 2017, 2018.</li>
            </ul>
            Dr. Mandal guided 12 Doctoral students and 12 students are currently pursuing their Ph.D. He was deputed to the Institute of Reservoir Studies, ONGC under the Industry-Academic interaction program for 1 year. Dr. Mandal carried out collaborative research
            work with the Department of Petroleum Engineering, Institute of Curtin University of Technology, under the Australia-India Joint Research Program, 2016. He also visited University Technology of Petronas, Malaysia and National University Singapore
            as a collaborative Research visit. Dr. Mandal is a member of ER Screening committee of the Ministry of Petroleum and Natural Gas.

        </p>
    </div>
</div>

<div class="container" style="overflow: hidden !important;">
    <div style="text-align:center;">
        <p style="font-family: 'Dosis', sans-serif; font-size:3.0rem;color:#323d47; ">DR. KEKA OJHA</p>
        <p style="color: #757575; font-size: 2.2rem; ">Professor( Petroleum Engineering )</p>
        <br>
    </div>
    <div style="text-align: center !important;">
        <img style="width:200px; height:auto; " src="https://www.iitism.ac.in/assets/employee/803/803.jpg" alt="Keka Ojha">
    </div>
    <div style="font-size: 2rem; padding: 2% 0%; ">
        <p>"A leader is someone who knows the way, shows the way and goes the way." Dr. Keka Ojha, the Professor of the Petroleum engineering department at IIT ISM Dhanbad genuinely exemplifies this quote. She has been applauded and recognized for her research
            works many times and we have mentioned some of them:
            <ul>
                <li>She was felicitated with the Best Paper in Petrotech conference in 2009 held at Delhi, for her paper on "Hydraulic Fracturing".</li>
                <li>She also received an Excellent Paper award in Thailand in 2011 in a conference on CBMs. </li>
                <li>While her research works were getting applauded, she received the honour of SPE Distinguished Faculty (South Asia Pacific region) 2019 for her tremendous contribution to the teaching sector.</li>
            </ul>
            She has been guiding students of petroleum engineering for more than 15 years. Besides being an excellent professor and researcher, she has also served in many administrative positions. She is currently appointed as Associate Dean Academic for Undergraduates
            at IIT (ISM).
        </p>
    </div>
</div>

<!-- SCROLL DOWN JS -->
<script>
    $("#downBtn ").click(function() {
        $('#textBody').scrollTop($('#textBody').scrollTop() + 20);;
    });
</script>

{% endblock content %}