<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/body.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/scroll-to-top-button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/footer.css' %}">

    <!--to load header files for blog-->
    {% block content-blog %}{% endblock %}
    
</head>


<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">

        <!-- SPE logo -->
        <a class="navbar-brand" href="#">
            <img src="https://cdn.asp.events/CLIENT_SPE__29FE44FF_5056_B733_49EC4D60A02A6A7D/sites/Asia-Pacific-Oil-Gas-2020/media/logos/SPE_Logo_2.png"
                 width="170px" height="80px">
        </a>
        <!-- SPE logo -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'homepage' %}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'blog-home' %}">Blog</a>
                </li>
                <!-- Events Dropdown Menu -->
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Events
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Event 1</a>
                        <a class="dropdown-item" href="#">Event 2</a>
                        <a class="dropdown-item" href="#">Event 3</a>
                        <a class="dropdown-item" href="#">Event 4</a>
                        <a class="dropdown-item" href="#">Event 5</a>
                    </div>
                </li>
                <!-- Events Dropdown Menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'signin-page' %}">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navbar -->

    <!-- Messages -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <!-- Messages -->

    <!-- Page Content -->
    {% block content %}
    {% endblock content %}
    <!-- Page Content -->

    <!-- Scroll to top Button -->
        <button id="back-to-top-btn">
            <i class="material-icons">arrow_upward</i>
        </button>
    <!-- Scroll to top Button -->

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

        <div id="upper-footer">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Get connected with us on social networks!</h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column social media icons -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <a class="fb-ic" href="#">
                            <i class="fa fa-facebook-f"> </i>
                        </a>
                        <a class="li-ic" href="#">
                            <i class="fa fa-linkedin"> </i>
                        </a>
                        <a class="ins-ic" href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <!-- Grid column social media icons -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

        <!-- Footer Links -->
        <div id="lower-footer">
            <div class="container text-center text-md-left mt-5">

                <!-- Grid row -->
                <div class="row mt-3">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase font-weight-bold">SPE IIT ISM SC</h6>
                        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis gravida dolor.
                            Nullam maximus velit non dui faucibus, et eleifend lorem ultrices. Aliquam erat volutpat.
                            Donec non finibus dui. Curabitur non elit ac augue hendrerit facilisis. Nulla ipsum tellus,
                            tempor sit amet ligula luctus, ornare fermentum dolor. Pellentesque habitant morbi tristique
                            senectus et netus et malesuada fames ac turpis egestas. In commodo magna leo, sit amet pharetra
                            orci pellentesque eu.</p>
                        <!-- Content -->
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Contact</h6>
                        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p><i class="fa fa-home mr-3"></i> Dhanbad, India </p>
                        <p><i class="fa fa-envelope mr-3"></i> developers@mail.com </p>
                        <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88 </p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
        </div>
        <!-- Footer Links -->

    </footer>
    <!-- Footer -->

    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'pages/top-button.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

</body>

</html>