{% extends 'pages/base.html' %}
{% load static %}

{% block content-blog %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'pages/core-team0.css' %}">
{% endblock content-blog %}

<!--To change images of the office bearers, crop the 2 images in a 4:5 ratio-->
<!--Name the first image in the format {name}-sir.jpg, and blur the second image using Gaussian blur filter in Ps-->
<!--and name it in the format {name}-sir-blur.jpg-->
<!--Paste both of these images in the /static/pages/office-bearers/  ie where the previous office bearers images are stored-->
<!--Paste the first image's link in img.round-image and the second image's link in div.flip-card-back-->
<!--or simply, after storing the images in the concerned file change the image src by just editing the name-->
<!--Eg, pages/office-bearers/ABC-sir.jpg  to  pages/office-bearers/XYZ-sir.jpg on line 114 -->
<!--Eg, /static/pages/office-bearers/ABC-sir-blur.jpg  to  /static/pages/office-bearers/XYZ-sir-blur.jpg on line 116 -->
<!--Also change the facebook and linkedin links-->
<!--You can also change the text colour in contrast to the image, either black or white, no other colour-->

{% block content %}

<style>
    .grid-container {
        justify-content: center;
        margin: auto;
    }
    
    .grid-container-3-col {
        justify-content: center;
        margin: auto;
    }
    
    @media screen and (min-width: 1200px) {
        .flip-card {
            margin: 70px;
        }
    }
    
    @media screen and (max-width: 770px) {
        .flip-card {
            margin: 20px;
        }
    }
</style>

<br><br><br><br><br><br><br>

<div class="container col-md-11">

    <!-- Team Image CSS: core-team0.css line 1-10 -->
    <div class="d-block mx-auto">
        <h1 class="d-flex justify-content-center" id="PageTitle" style="font-size: 6rem;">Our Team</h1>
        <hr class="d-flex justify-content-center" id="UnderlineTitle">
    </div>

    <!-- CSS: core-team0.css line 12-15 -->
    <img class="team-vector d-block mx-auto" style="width: 95%; height: auto;" src="{% static 'pages/team-images/team-vector1.jpg' %}">
    <!-- Team Image-->

    <!--Office Bearers Section CSS: core-team0.css line 17-26 -->
    <div class="d-block mx-auto">
        <h1 class="office-bearers d-flex justify-content-center">Office Bearers:</h1>
        <hr class="office-bearers-underline d-block mx-auto" style="margin-bottom: 40px;">
    </div>
    <div class="d-block mx-auto">
        <!-- CSS: core-team0.css line 28-33 -->
        <div class="grid-container">

            <!-- Additional instructions given above from line 9-18 -->

            <!-- Card CSS: core-team0.css line 49-85 -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <!-- Card CSS: core-team0.css line 98-102, 73-79 -->
                        <img class="round-img" src="{% static 'pages/office-bearers/Keka_Maam.jpeg' %}" alt="Avatar">
                    </div>
                    <!-- Card CSS: core-team0.css line 88-96 -->
                    <div class="flip-card-back flip-border" style="background-image: url(/static/pages/office-bearers/Keka_Maam_blur.jpg);">
                        <!-- Card CSS: core-team0.css line 104-109, 111-116, 118-122 -->
                        <h1 class="card-title" style="color: black;">Dr. Keka Ojha</h1>
                        <hr class="underline" style="background-color: black;">
                        <p class="card-content" style="color: black;">Head of the Department, Petroleum Engineering</p>
                        <!-- Card CSS: core-team0.css line 124-137 -->
                        <a href="https://www.linkedin.com/in/keka-ojha-9490bb14/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/keka.ojha"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="round-img" src="{% static 'pages/office-bearers/covener.jpg' %}" alt="Avatar">
                    </div>
                    <div class="flip-card-back flip-border" style="background-image: url(/static/pages/office-bearers/covener-blur.jpg);">
                        <h1 class="card-title" style="color: white;">Dr. Neetish Kumar Maurya</h1>
                        <hr class="underline" style="background-color: white;">
                        <p class="card-content" style="color: white;">Faculty Convener</p>
                        <a href="https://www.facebook.com/neetishmaurya"><i class="fa fa-facebook"></i></a>
                        <a href=" https://www.linkedin.com/in/neetish-kumar-maurya-22b08a1a/?originalSubdomain=in">
                            <i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="round-img" src="{% static 'pages/office-bearers/Bhautik_Sir_2.jpg' %}" alt="Avatar">
                    </div>
                    <div class="flip-card-back flip-border" style="background-image: url(/static/pages/office-bearers/Bhautik_Sir_2_blur.jpg);">
                        <h1 class="card-title" style="color: white;">Bhautik Agrawal</h1>
                        <hr class="underline" style="background-color: white;">
                        <p class="card-content" style="color: white;">President</p>
                        <a href="https://www.linkedin.com/in/bhautik-agrawal-a22349166">
                            <i class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/bhautik.agrawal.3"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="round-img" src="{% static 'pages/office-bearers/Satyam_Gupta_Sir.jpg' %}" alt="Avatar">
                    </div>
                    <div class="flip-card-back flip-border" style="background-image: url(/static/pages/office-bearers/preet-sir-blur.jpg);">
                        <h1 class="card-title" style="color: white;">Satyam Gupta</h1>
                        <hr class="underline" style="background-color: white;">
                        <p class="card-content" style="color: white;">Vice President</p>
                        <a href="https://www.facebook.com/profile.php?id=100037141251561"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/satyam-gupta-a3b73a120/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <!-- Card -->
        </div>

        <!-- Card CSS: core-team0.css line 35-40, core-team.html line 14-17 -->
        <div class="grid-container-3-col">
            <!-- Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="round-img" src="{% static 'pages/office-bearers/shamita-maam.jpg' %}" alt="Avatar">
                    </div>
                    <div class="flip-card-back flip-border" style="background-image: url(/static/pages/office-bearers/shamita-maam-blur.jpg);">
                        <h1 class="card-title" style="color:white;">Shamita Jain</h1>
                        <hr class="underline" style="background-color: white;">
                        <p class="card-content" style="color: white;">Secretary</p>
                        <a href="https://www.linkedin.com/in/shamita-jain-21171a175"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/shamita.jain.73"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="round-img" src="{% static 'pages/office-bearers/soumya-maam.jpg' %}" alt="Avatar">
                    </div>
                    <div class="flip-card-back flip-border" style="background-image: url(/static/pages/office-bearers/soumya-maam-blur.jpg);">
                        <h1 class="card-title" style="color: white;">Soumya Krishna</h1>
                        <hr class="underline" style="background-color: white;">
                        <p class="card-content" style="color: white;">Communications Chairperson</p>
                        <a href="https://www.linkedin.com/in/somya-krishna-0bb721172"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/somya.krishna.5"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="round-img" src="{% static 'pages/office-bearers/rajwardhan-sir.jpg' %}" alt="Avatar">
                    </div>
                    <div class="flip-card-back flip-border" style="background-image: url(/static/pages/office-bearers/rajwardhan-sir-blur.jpg);">
                        <h1 class="card-title" style="color: white;">Rajwardhan Rawat</h1>
                        <hr class="underline" style="background-color: white;">
                        <p class="card-content" style="color: white;">Program Chairperson</p>
                        <a href="https://www.linkedin.com/in/rajvardhanrawat/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/rajvardhan.rawat.9"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <!-- Card -->
        </div>

<!--        <div class="grid-container">-->
<!--            &lt;!&ndash; Card &ndash;&gt;-->
<!--            <div class="flip-card">-->
<!--                <div class="flip-card-inner">-->
<!--                    <div class="flip-card-front">-->
<!--                        <img class="round-img" src="{% static 'pages/office-bearers/harshit-sir.jpg' %}" alt="Avatar">-->
<!--                    </div>-->
<!--                    <div class="flip-card-back flip-border" style="background-image: url(/static/pages/office-bearers/harshit-sir-blur.jpg);">-->
<!--                        <h1 class="card-title" style="color: white;">Harshit Pathak</h1>-->
<!--                        <hr class="underline" style="background-color: white;">-->
<!--                        <p class="card-content" style="color: white;">Technical Chair</p>-->
<!--                        <a href="https://www.linkedin.com/in/harshitpathak0311/"><i class="fa fa-linkedin"></i></a>-->
<!--                        <a href="https://www.facebook.com/harshit.pathak.90663"><i class="fa fa-facebook"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Card &ndash;&gt;-->

<!--            &lt;!&ndash; Card &ndash;&gt;-->
<!--            <div class="flip-card">-->
<!--                <div class="flip-card-inner">-->
<!--                    <div class="flip-card-front">-->
<!--                        <img class="round-img" src="{% static 'pages/office-bearers/jalaj-sir.jpg' %}" alt="Avatar">-->
<!--                    </div>-->
<!--                    <div class="flip-card-back flip-border" style="background-image: url(/static/pages/office-bearers/jalaj-sir-blur.jpg);">-->
<!--                        <h1 class="card-title" style="color: white;">Jalaj Tripathi</h1>-->
<!--                        <hr class="underline" style="background-color: white;">-->
<!--                        <p class="card-content" style="color: white;">Program Chairperson</p>-->
<!--                        <a href="https://www.linkedin.com/in/jalaj-tripathi-78768615a/"><i class="fa fa-linkedin"></i></a>-->
<!--                        <a href="https://www.facebook.com/jalaj.tripathi.188"><i class="fa fa-facebook"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Card &ndash;&gt;-->
<!--        </div>-->

    </div>
</div>
</div>
<!--Office Bearers Section-->

<br><br><br><br><br>

<!--Core Team Section-->
<div class="d-block mx-auto">
    <h1 class="office-bearers d-flex justify-content-center">Core Team:</h1>
    <hr class="office-bearers-underline d-block mr-auto" style="margin-bottom: 40px;">
</div>
<img class="team-vector d-block mx-auto" src="{% static 'pages/team-images/core-team-2021.jpg' %}" style=" width: 90%; height: auto;">
<!--Core Team Section-->

<br><br><br><br>

<!-- Developer Section -->
<div class="d-block mx-auto">
    <h1 class="office-bearers d-flex justify-content-center">Developer Team:</h1>
    <hr class="office-bearers-underline d-block mx-auto" style="margin-bottom: 40px;">
</div>
<div class="d-block mx-auto col-md-11">
    <div class="grid-container">

        <!-- Card -->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="round-img" src="{% static 'pages/developer-img/rajwardhan-sir.jpg' %}" alt="Avatar">
                </div>
                <div class="flip-card-back flip-border" style="background-image: url(/static/pages/developer-img/rajwardhan-sir-blur.jpg);">
                    <h1 class="card-title" style="color: white;">Rajvardhan Rawat</h1>
                    <hr class="underline" style="background-color: white;">
                    <p class="card-content" style="color: white;">Team Leader</p>
                    <a href="https://www.linkedin.com/in/rajvardhanrawat/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/rajvardhan.rawat.9"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="round-img" src="{% static 'pages/developer-img/raj-sir.jpg' %}" alt="Avatar">
                </div>
                <div class="flip-card-back flip-border" style="background-image: url(/static/pages/developer-img/raj-sir-blur.jpg);">
                    <h1 class="card-title" style="color: black;">Raj Kumar Singh</h1>
                    <hr class="underline" style="background-color: black;">
                    <p class="card-content" style="color: white;">Team Leader</p>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/raj-kumar-singh-272a8b179">
                        <i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <!-- Card -->
    </div>

    <!-- Card CSS: core-team0.css line 35-40, core-team.html line 14-17 -->
    <div class="grid-container-3-col">
        <!-- Card -->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="round-img" src="{% static 'pages/developer-img/omkar0.jpg' %}" alt="Avatar">
                </div>
                <div class="flip-card-back flip-border" style="background-image: url(/static/pages/developer-img/omkar-blur0.jpg);">
                    <h1 class="card-title" style="color: white;">Omkar Kurlekar</h1>
                    <hr class="underline" style="background-color: white;">
                    <p class="card-content" style="color: white;">Front End Developer</p>
                    <a href="https://www.linkedin.com/in/omkar-kurlekar-54788119b/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://m.facebook.com/profile.php?id=100039375039521&ref=content_filter">
                        <i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="round-img" src="{% static 'pages/developer-img/shirin.jpg' %}" alt="Avatar">
                </div>
                <div class="flip-card-back flip-border" style="background-image: url(/static/pages/developer-img/shirin-blur.jpg);">
                    <h1 class="card-title" style="color: white;">Shirin Kaul</h1>
                    <hr class="underline" style="background-color: white;">
                    <p class="card-content" style="color: white;">Back End Developer</p>
                    <a href="https://www.linkedin.com/in/shirin-kaul-b09282190/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/shirin.kaul.315"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="round-img" src="{% static 'pages/developer-img/hritvik.jpg' %}" alt="Avatar">
                </div>
                <div class="flip-card-back flip-border" style="background-image: url(/static/pages/developer-img/hritvik-blur.jpg);">
                    <h1 class="card-title" style="color: black;">Hritwik Ranjan</h1>
                    <hr class="underline" style="background-color: black;">
                    <p class="card-content" style="color: white;">Front End Developer</p>
                    <a href="https://www.linkedin.com/in/hritwik-ranjan-a250491a2"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100009683348917"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="round-img" src="{% static 'pages/developer-img/shadan.jpg' %}" alt="Avatar">
                </div>
                <div class="flip-card-back flip-border" style="background-image: url(/static/pages/developer-img/shadan-blur.jpg);">
                    <h1 class="card-title" style="color: white;">Shadan Arif</h1>
                    <hr class="underline" style="background-color: white;">
                    <p class="card-content" style="color:white;">Front End Developer</p>
                    <a href="https://www.linkedin.com/in/shadan-arif-24b1791b2/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/shadan.arif.333/"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="round-img" src="{% static 'pages/developer-img/bsmeghma.jpg' %}" alt="Avatar">
                </div>
                <div class="flip-card-back flip-border" style="background-image: url(/static/pages/developer-img/bsmeghma-blur.jpg);">
                    <h1 class="card-title" style="color: black;">B S Meghma</h1>
                    <hr class="underline" style="background-color: black;">
                    <p class="card-content" style="color: white;">Content Writer</p>
                    <a href="https://www.linkedin.com/in/meghma-b-s-123ab71a1?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BK3jJ366NTB%2B6hnNcy7dULQ%3D%3D">
                        <i class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/meghma.bs.9/">
                        <i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="round-img" src="{% static 'pages/developer-img/satyam1.jpg' %}" alt="Avatar">
                </div>
                <div class="flip-card-back flip-border" style="background-image: url(/static/pages/developer-img/satyam1-blur.jpg);">
                    <h1 class="card-title" style="color: white;">Satyam Gupta</h1>
                    <hr class="underline" style="background-color: white;">
                    <p class="card-content" style="color: white;">Designer</p>
                    <a href="https://www.linkedin.com/in/satyam-gupta-a3b73a120/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100037141251561"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <!-- Card -->

    </div>

</div>
<!-- Developer Section -->

<br><br><br> {% endblock content %}
