{% extends 'pages/base.html' %} {% load static %} {% block content-blog %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/gallery-css/common.css' %}">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'pages/gallery-css/gallery1-e1.css' %}">-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'pages/gallery-css/gallery1-e2.css' %}">-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'pages/gallery-css/gallery1-e3.css' %}">-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'pages/gallery-css/gallery1-e4.css' %}">-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'pages/gallery-css/gallery1-e5.css' %}">-->
{% endblock content-blog %} {% block content %}
<br><br><br><br><br>
<!--<img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">-->
<h1 class="d-flex justify-content-center" style="color: black; font-family: 'adam.cg pro'; font-size: 60px;">Gallery</h1>
<hr class="d-block mx-auto" style="width: 210px; height: 1px; background-color: #007bff; margin-bottom: 50px;">
<br><br>

<!--    &lt;!&ndash; Event 1&ndash;&gt;-->
<!--    <div class="d-block mx-auto" style="width: 1000px;">-->
<!--        <h2 class="event-title d-flex justify-content-left">Teacher'ssss Day:</h2>-->
<!--        <hr class="event-underline d-flex justify-content-left">-->
<!--        <div class="wrapper">-->
<!--          <div id="slider-wrap1">-->
<!--              <ul id="slider1">-->
<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD1.png' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD2.png' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD3.png' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD4.png' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD5.png' %}">-->
<!--                 </li>-->

<!--                  <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD6.png' %}">-->
<!--                 </li>-->

<!--                  <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD7.png' %}">-->
<!--                 </li>-->
<!--              </ul>-->

<!--               &lt;!&ndash;controls&ndash;&gt;-->
<!--              <div class="btns" id="next1"><i class="fa fa-arrow-right"></i></div>-->
<!--              <div class="btns" id="previous1"><i class="fa fa-arrow-left"></i></div>-->
<!--              <div id="counter1"></div>-->

<!--              <div id="pagination-wrap1">-->
<!--                <ul>-->
<!--                </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;controls&ndash;&gt;-->

<!--          </div>-->
<!--       </div>-->
<!--    </div>-->
<!--    <br><br>-->
<!--    <script src="{% static 'pages/gallery-js/gallery1-e1.js' %}"></script>-->
<!--   &lt;!&ndash; Event 1&ndash;&gt;-->


<!--    &lt;!&ndash; Event 2&ndash;&gt;-->
<!--    <div class="d-block mx-auto" style="width: 1000px;">-->
<!--        <h2 class="event-title d-flex justify-content-left">Intern Talk:</h2>-->
<!--        <hr class="event-underline d-flex justify-content-left">-->
<!--        <div class="wrapper">-->
<!--          <div id="slider-wrap2">-->
<!--              <ul id="slider2">-->
<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/intern-talk-2019/IT1.png' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/intern-talk-2019/IT2.png' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/intern-talk-2019/IT3.png' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/intern-talk-2019/IT4.png' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/intern-talk-2019/IT5.png' %}">-->
<!--                 </li>-->

<!--                  <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/intern-talk-2019/IT6.png' %}">-->
<!--                 </li>-->
<!--              </ul>-->

<!--               &lt;!&ndash;controls&ndash;&gt;-->
<!--              <div class="btns" id="next2"><i class="fa fa-arrow-right"></i></div>-->
<!--              <div class="btns" id="previous2"><i class="fa fa-arrow-left"></i></div>-->
<!--              <div id="counter2"></div>-->

<!--              <div id="pagination-wrap2">-->
<!--                <ul>-->
<!--                </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;controls&ndash;&gt;-->

<!--          </div>-->
<!--       </div>-->
<!--    </div>-->
<!--    <br><br>-->
<!--    <script src="{% static 'pages/gallery-js/gallery1-e2.js' %}"></script>-->
<!--   &lt;!&ndash; Event 2&ndash;&gt;-->

<!--    &lt;!&ndash; Event 3&ndash;&gt;-->
<!--    <div class="d-block mx-auto" style="width: 1000px;">-->
<!--        <h2 class="event-title d-flex justify-content-left">Event 3:</h2>-->
<!--        <hr class="event-underline d-flex justify-content-left">-->
<!--        <div class="wrapper">-->
<!--          <div id="slider-wrap3">-->
<!--              <ul id="slider3">-->
<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-2.jpg' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-3.jpg' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-4.jpg' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-5.jpg' %}">-->
<!--                 </li>-->
<!--              </ul>-->

<!--               &lt;!&ndash;controls&ndash;&gt;-->
<!--              <div class="btns" id="next3"><i class="fa fa-arrow-right"></i></div>-->
<!--              <div class="btns" id="previous3"><i class="fa fa-arrow-left"></i></div>-->
<!--              <div id="counter3"></div>-->

<!--              <div id="pagination-wrap3">-->
<!--                <ul>-->
<!--                </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;controls&ndash;&gt;-->

<!--          </div>-->
<!--       </div>-->
<!--    </div>-->
<!--    <br><br>-->
<!--    <script src="{% static 'pages/gallery-js/gallery1-e3.js' %}"></script>-->
<!--   &lt;!&ndash; Event 3&ndash;&gt;-->

<!--    &lt;!&ndash; Event 4&ndash;&gt;-->
<!--    <div class="d-block mx-auto" style="width: 1000px;">-->
<!--        <h2 class="event-title d-flex justify-content-left">Event 4:</h2>-->
<!--        <hr class="event-underline d-flex justify-content-left">-->
<!--        <div class="wrapper">-->
<!--          <div id="slider-wrap4">-->
<!--              <ul id="slider4">-->
<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-2.jpg' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-3.jpg' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-4.jpg' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-5.jpg' %}">-->
<!--                 </li>-->
<!--              </ul>-->

<!--               &lt;!&ndash;controls&ndash;&gt;-->
<!--              <div class="btns" id="next4"><i class="fa fa-arrow-right"></i></div>-->
<!--              <div class="btns" id="previous4"><i class="fa fa-arrow-left"></i></div>-->
<!--              <div id="counter4"></div>-->

<!--              <div id="pagination-wrap4">-->
<!--                <ul>-->
<!--                </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;controls&ndash;&gt;-->

<!--          </div>-->
<!--       </div>-->
<!--    </div>-->
<!--    <br><br>-->
<!--    <script src="{% static 'pages/gallery-js/gallery1-e4.js' %}"></script>-->
<!--   &lt;!&ndash; Event 4 &ndash;&gt;-->

<!--    &lt;!&ndash; Event 5 &ndash;&gt;-->
<!--    <div class="d-block mx-auto" style="width: 1000px;">-->
<!--        <h2 class="event-title d-flex justify-content-left">Event 5:</h2>-->
<!--        <hr class="event-underline d-flex justify-content-left">-->
<!--        <div class="wrapper">-->
<!--          <div id="slider-wrap5">-->
<!--              <ul id="slider5">-->
<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-2.jpg' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-3.jpg' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-4.jpg' %}">-->
<!--                 </li>-->

<!--                 <li>-->
<!--                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-5.jpg' %}">-->
<!--                 </li>-->
<!--              </ul>-->

<!--               &lt;!&ndash;controls&ndash;&gt;-->
<!--              <div class="btns" id="next5"><i class="fa fa-arrow-right"></i></div>-->
<!--              <div class="btns" id="previous5"><i class="fa fa-arrow-left"></i></div>-->
<!--              <div id="counter5"></div>-->

<!--              <div id="pagination-wrap5">-->
<!--                <ul>-->
<!--                </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;controls&ndash;&gt;-->

<!--          </div>-->
<!--       </div>-->
<!--    </div>-->
<!--    <br><br>-->
<!--    <script src="{% static 'pages/gallery-js/gallery1-e5.js' %}"></script>-->
<!--   &lt;!&ndash; Event 5 &ndash;&gt;-->

<style>
    .event-title {
        color: black;
        font-family: 'adam.cg pro';
        font-size: 45px;
    }
    
    .event-title-under {
        width: 210px;
        height: 0.8px;
        background-color: #007bff;
        margin-bottom: 10px;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    .gal-img {
        width: 360px;
        height: auto;
        margin: 20px;
    }
    
    @media screen and (max-width: 770px) {
        .event-title {
            font-size: 30px;
        }
        .event-title-under {
            width: 150px;
            margin-bottom: 0;
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto;
        }
        .gal-img {
            width: 280px;
            height: auto;
            margin: 10px;
        }
    }
</style>

<!-- Event 1-->
<h1 class="d-flex justify-content-center event-title">Teacher's Day:</h1>
<hr class="d-block mx-auto event-title-under">
<br>
<div class="grid-container col-md-11" style="justify-content: center; margin: auto;">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD1.png' %}">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD2.png' %}">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD3.png' %}">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD4.png' %}">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD5.png' %}">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD6.png' %}">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/teachers-day-2019/TD7.png' %}">
</div>
<!-- Event 1-->

<!-- Event 2-->
<br><br><br>
<h1 class="d-flex justify-content-center event-title">Intern Talks:</h1>
<hr class="d-block mx-auto event-title-under">
<br>
<div class="grid-container col-md-11" style="justify-content: center; margin: auto;">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/intern-talk-2019/IT1.png' %}">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/intern-talk-2019/IT2.png' %}">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/intern-talk-2019/IT3.png' %}">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/intern-talk-2019/IT4.png' %}">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/intern-talk-2019/IT5.png' %}">
    <img class="gal-img" src="{% static 'pages/gallery-slideshow/intern-talk-2019/IT6.png' %}">
</div>
<!-- Event 2-->

<br><br><br> {% endblock content %}