{% extends 'pages/base.html' %}
{% load static %}

{% block content-blog %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/gallery-css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/gallery-css/gallery1-e1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/gallery-css/gallery1-e2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/gallery-css/gallery1-e3.css' %}">
{% endblock content-blog %}

{% block content %}
    <br><br><br><br><br>
<!--<img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">-->
        <h1 class="d-flex justify-content-center" style="color: black; font-family: 'adam.cg pro'; font-size: 60px;">Gallery</h1>
        <hr class="d-block mx-auto" style="width: 210px; height: 1px; background-color: #007bff; margin-bottom: 50px;">
        <br><br>

<!-- Event 1-->
    <div class="d-block mx-auto" style="width: 1000px;">
        <h2 class="event-title d-flex justify-content-left">Event 1:</h2>
        <hr class="event-underline d-flex justify-content-left">
        <div class="wrapper">
          <div id="slider-wrap1">
              <ul id="slider1">
                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-2.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-3.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-4.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-5.jpg' %}">
                 </li>
              </ul>

               <!--controls-->
              <div class="btns" id="next1"><i class="fa fa-arrow-right"></i></div>
              <div class="btns" id="previous1"><i class="fa fa-arrow-left"></i></div>
              <div id="counter1"></div>

              <div id="pagination-wrap1">
                <ul>
                </ul>
              </div>
              <!--controls-->

          </div>
       </div>
    </div>
    <br><br>
    <script src="{% static 'pages/gallery-js/gallery1-e1.js' %}"></script>
   <!-- Event 1-->


    <!-- Event 2-->
    <div class="d-block mx-auto" style="width: 1000px;">
        <h2 class="event-title d-flex justify-content-left">Event 2:</h2>
        <hr class="event-underline d-flex justify-content-left">
        <div class="wrapper">
          <div id="slider-wrap2">
              <ul id="slider2">
                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-2.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-3.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-4.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-5.jpg' %}">
                 </li>
              </ul>

               <!--controls-->
              <div class="btns" id="next2"><i class="fa fa-arrow-right"></i></div>
              <div class="btns" id="previous2"><i class="fa fa-arrow-left"></i></div>
              <div id="counter2"></div>

              <div id="pagination-wrap2">
                <ul>
                </ul>
              </div>
              <!--controls-->

          </div>
       </div>
    </div>
    <br><br>
    <script src="{% static 'pages/gallery-js/gallery1-e2.js' %}"></script>
   <!-- Event 2-->

    <!-- Event 3-->
    <div class="d-block mx-auto" style="width: 1000px;">
        <h2 class="event-title d-flex justify-content-left">Event 3:</h2>
        <hr class="event-underline d-flex justify-content-left">
        <div class="wrapper">
          <div id="slider-wrap3">
              <ul id="slider3">
                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-2.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-3.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-4.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-5.jpg' %}">
                 </li>
              </ul>

               <!--controls-->
              <div class="btns" id="next3"><i class="fa fa-arrow-right"></i></div>
              <div class="btns" id="previous3"><i class="fa fa-arrow-left"></i></div>
              <div id="counter3"></div>

              <div id="pagination-wrap3">
                <ul>
                </ul>
              </div>
              <!--controls-->

          </div>
       </div>
    </div>
    <br><br>
    <script src="{% static 'pages/gallery-js/gallery1-e3.js' %}"></script>
   <!-- Event 3-->

    <!-- Static Images -->
    <div class="col-md-12">
        <div class="grid-container" style="margin-left: 45px;">
          <img class="gal-img" style="width: 500px; height: 250px;" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
          <img class="gal-img" style="width: 500px; height: 250px;" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
          <img class="gal-img" style="width: 500px; height: 250px;" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
          <img class="gal-img" style="width: 500px; height: 250px;" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
          <img class="gal-img" style="width: 500px; height: 250px;" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
          <img class="gal-img" style="width: 500px; height: 250px;" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
          <img class="gal-img" style="width: 500px; height: 250px;" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
          <img class="gal-img" style="width: 500px; height: 250px;" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
          <img class="gal-img" style="width: 500px; height: 250px;" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
        </div>
    </div>
    <!-- Static Images -->

{% endblock content %}