{% extends 'pages/base.html' %}
{% load static %}

{% block content-blog %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/gallery1.css' %}">
{% endblock content-blog %}

{% block content %}
    <br><br><br><br><br>
<!--<img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">-->
        <h1 style="color: black; font-family: 'adam.cg pro'; font-size: 60px;">Gallery</h1>
        <hr class="d-block mx-auto" style="width: 210px; height: 1px; background-color: #007bff; margin-bottom: 50px;">
        <br><br>

    <!-- Event 1-->
    <div class="d-block mx-auto" style="width: 1000px;">
        <h2 class="event-title d-flex justify-content-left">Event 1:</h2>
        <hr class="event-underline d-flex justify-content-left">
        <div class="wrapper">
          <div id="slider-wrap1">
              <ul id="slider1">
                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-1.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-2.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-3.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-4.jpg' %}">
                 </li>

                 <li>
                    <img class="gal-img" src="{% static 'pages/gallery-slideshow/event-1/show-img-5.jpg' %}">
                 </li>
              </ul>

               <!--controls-->
              <div class="btns" id="next1"><i class="fa fa-arrow-right"></i></div>
              <div class="btns" id="previous1"><i class="fa fa-arrow-left"></i></div>
              <div id="counter1"></div>

              <div id="pagination-wrap1">
                <ul>
                </ul>
              </div>
              <!--controls-->

          </div>
       </div>
    </div>
    <br><br>
   <!-- Event 1-->


<script>
    //current position
var pos = 0;
//number of slides
var totalSlides = $('#slider-wrap1 ul li').length;
//get the slide width
var sliderWidth = $('#slider-wrap1').width();


$(document).ready(function(){


	/*****************
	 BUILD THE SLIDER
	*****************/
	//set width to be 'x' times the number of slides
	$('#slider-wrap1 ul#slider1').width(sliderWidth*totalSlides);

    //next slide
	$('#next1').click(function(){
		slideRight();
	});

	//previous slide
	$('#previous').click(function(){
		slideLeft();
	});



	/*************************
	 //*> OPTIONAL SETTINGS
	************************/
	//automatic slider
	var autoSlider = setInterval(slideRight, 3000);

	//for each slide
	$.each($('#slider-wrap1 ul li'), function() {
	   //set its color
	   var c = $(this).attr("data-color");
	   $(this).css("background",c);

	   //create a pagination
	   var li = document.createElement('li');
	   $('#pagination-wrap1 ul').append(li);
	});

	//counter
	countSlides();

	//pagination
	pagination();

	//hide/show controls/btns when hover
	//pause automatic slide when hover
	$('#slider-wrap1').hover(
	  function(){ $(this).addClass('active'); clearInterval(autoSlider); },
	  function(){ $(this).removeClass('active'); autoSlider = setInterval(slideRight, 3000); }
	);



});//DOCUMENT READY



/***********
 SLIDE LEFT
************/
function slideLeft(){
	pos--;
	if(pos==-1){ pos = totalSlides-1; }
	$('#slider-wrap1 ul#slider1').css('left', -(sliderWidth*pos));

	//*> optional
	countSlides();
	pagination();
}


/************
 SLIDE RIGHT
*************/
function slideRight(){
	pos++;
	if(pos==totalSlides){ pos = 0; }
	$('#slider-wrap1 ul#slider1').css('left', -(sliderWidth*pos));

	//*> optional
	countSlides();
	pagination();
}




/************************
 //*> OPTIONAL SETTINGS
************************/
function countSlides(){
	$('#counter1').html(pos+1 + ' / ' + totalSlides);
}

function pagination(){
	$('#pagination-wrap1 ul li').removeClass('active');
	$('#pagination-wrap1 ul li:eq('+pos+')').addClass('active');
}
</script>

{% endblock content %}