{% extends 'pages/base.html' %}
{% load static %}

{% block content-blog %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/gazettepage.css' %}">
{% endblock content-blog %}

{% block content %}

       <br><br><br><br><br>

<!-- Store the compressed gazette pdf in the google drive -->
<!-- if the drive link is https://drive.google.com/file/d/1dqplmQ661ODcjdlNYwOfUeLjpvkg53Wl/view?usp=sharing -->
<!-- change it to this format https://drive.google.com/file/d/1dqplmQ661ODcjdlNYwOfUeLjpvkg53Wl/preview -->

    <div class="d-block mx-auto col-md-10  media">
        <h1 class="d-flex justify-content-center" id="PageTitle">Gazette</h1>
        <hr class="d-flex justify-content-center" id="UnderlineTitle">

            <h1 id="Heading">Download the latest version of the SPE IIT (ISM) Dhanbad Gazette: </h1>

            <div class="grid-container">

              <div class="grid-item">
                  <div class="container" >
                    <iframe frameborder="0" scrolling="no" width="320" height="240"
                                src="https://drive.google.com/file/d/1dqplmQ661ODcjdlNYwOfUeLjpvkg53Wl/preview"></iframe>
                    <div>Gazette 2020</div>
                </div>
              </div>

              <div class="grid-item">
                  <div class="container">
                    <iframe frameborder="0" scrolling="no" width="320" height="240"
                                src="https://drive.google.com/file/d/1Jqgl8sciP1zwWW-7HcX0-vtaiMoY3Xc0/preview"></iframe>
                    <div>Gazette 2019</div>
                </div>
              </div>

              <div class="grid-item">
                  <div class="container">
                    <iframe frameborder="0" scrolling="no" width="320" height="240"
                                src="https://drive.google.com/file/d/1czcpQ55G7kfEAUvOGPx5cdLyjiInSMhL/preview"></iframe>
                    <div>Gazette 2018</div>
                </div>
              </div>

              <div class="grid-item">
                  <div class="container">
                    <iframe frameborder="0" scrolling="no" width="320" height="240"
                                src="https://drive.google.com/file/d/1O76hmPegVSOFJRdjxf8hUMB9NU7RdfLm/preview"></iframe>
                    <div>Gazette 2017</div>
                </div>
              </div>

              <div class="grid-item">
                  <div class="container">
                    <iframe frameborder="0" scrolling="no" width="320" height="240"
                                src="https://drive.google.com/file/d/1dJX6HCaB7yLxJ66OvQMzxoktdZbcXJnp/preview"></iframe>
                    <div>Gazette 2016</div>
                </div>
              </div>

            </div>
        <br><br><br>
        </div>


{% endblock content %}