{% extends 'pages/base.html' %}
{% load static %}

{% block content-blog %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/gazettepage.css' %}">
{% endblock content-blog %}

{% block content %}

       <br><br><br><br><br>

    <div class="d-block mx-auto col-md-10">
        <h1 class="d-flex justify-content-center" id="PageTitle">Gazette</h1>
        <hr class="d-flex justify-content-center" id="UnderlineTitle">

            <h1 id="Heading">Download the latest version of the SPE IIT (ISM) Dhanbad Gazette: </h1>

            <div class="grid-container">

              <div class="grid-item">
                  <div class="container" >
                    <iframe frameborder="0" scrolling="no" width="320" height="240"
                                src="https://drive.google.com/file/d/1FfAbfwEfmKv4Bgj6XAc8KyYZtiP8QSIm/preview"></iframe>
                    <div>Gazette 2020</div>
                </div>
              </div>

              <div class="grid-item">
                  <div class="container">
                    <iframe frameborder="0" scrolling="no" width="320" height="240"
                                src="https://drive.google.com/file/d/1Jp5FNTGoW5gz938FEszqCWI4GWpc7yUd/preview"></iframe>
                    <div>Gazette 2019</div>
                </div>
              </div>

              <div class="grid-item">
                  <div class="container">
                    <iframe frameborder="0" scrolling="no" width="320" height="240"
                                src="https://drive.google.com/file/d/1CdTkQixJRZnhObzdctt_9lqGr9l_JzLs/preview"></iframe>
                    <div>Gazette 2018</div>
                </div>
              </div>

            </div>
        <br><br><br>
        </div>


{% endblock content %}