{% extends 'pages/base.html' %} {% load static %} {% block content-blog %}
<style>
    @import "compass/css3";
    @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
    .page-header {
        height: 100vh;
        background-position: center center;
        background-size: cover;
        margin: 0;
        padding: 0;
        border: 0;
        display: flex;
        height: 200px;
        align-items: center;
    }
    
    .page-header .page-header-image {
        position: absolute;
        background-size: cover;
        background-position: center center;
        width: 100%;
        z-index: -1;
    }
    /* Header text effect */
    
    .text {
        text-align: center !important;
        display: inline-block;
        font-size: 450%;
        font-weight: 700;
    }
    
    .text__first,
    .text__second {
        position: relative;
    }
    
    .text__word {
        opacity: 0;
    }
    
    .text__first-bg,
    .text__second-bg {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        transform-origin: left;
        transform: scaleX(0);
    }
    
    .text__second-bg {
        width: 160%;
    }
    
    .text__first-bg {
        background-color: #0634b3;
    }
    
    .text__second-bg {
        background-color: #14a0ca;
    }
    
    .text__second {
        margin-left: 15vmin;
    }
    /* Raised card effect styles */
    
    .main {
        background: #ffffff;
        position: relative;
        z-index: 3;
    }
    
    .main-raised {
        margin: -60px 30px 0px;
        border-radius: 6px;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
    
    @media (max-width: 830px) {
        .main-raised {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    
    .main.main-raised {
        margin-top: -30px;
    }
    /* Raised card effect styles end */
    /* Read more button */
    
    .button {
        display: inline-block;
        text-decoration: none !important;
        padding: 0.75rem 1.25rem;
        border-radius: 10rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.15rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    
    .button:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 83, 207);
        border-radius: 10rem;
        z-index: -2;
    }
    
    .button:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #053388;
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
    }
    
    .button:hover {
        color: #fff;
    }
    
    .button:hover:before {
        width: 100%;
    }
    /* Blog Section */
    
    .post {
        display: flex;
        width: 1000px;
    }
    
    .post-left {
        width: 40%;
        background-color: #20206c;
        color: white;
        padding: 3em;
        position: relative;
    }
    
    .post-left_title {
        font-size: 2em;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .post-left_title_sub {
        font-size: 2em;
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 0.25em;
    }
    
    .post-left_border {
        border: 2px solid #ef5350;
        width: 15%;
        margin-top: 1em;
    }
    
    .post-left_author {
        position: absolute;
        bottom: 2em;
        display: flex;
        align-items: center;
    }
    
    .post-left_author img {
        width: 2.5em;
        margin-right: 1em;
        border: 1px solid #fefefe;
        border-radius: 50%;
    }
    
    .post-right {
        width: 60%;
        background-color: #fefefe;
        color: #484855;
    }
    
    .post-right_body {
        line-height: 2;
        font-size: 20px;
        padding: 2em;
    }
    
    .post-right_body p {
        margin-top: 1em;
    }
    
    .post-right_body p span {
        font-size: 2em;
    }
    
    .post-right_footer {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px -4px 3px -2px rgba(0, 0, 0, 0.1);
        padding: 2em;
    }
    
    .post-right_footer_date {
        text-transform: uppercase;
    }
    
    .post-right_footer_date span {
        font-weight: 700;
    }
    
    .post-right_footer_pictos {
        font-size: 1.5em;
        margin-right: 1em;
    }
    
    .post-right_footer_pictos .fa-heart {
        color: #ef5350;
        margin-right: 1em;
    }
    /* Gaztte Card Section */
    
    .card-gazette {
        margin-bottom: 30px;
        margin-top: 30px;
        border-radius: 6px;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        background-size: cover;
        text-align: center;
        position: relative;
        min-height: 280px;
        padding: 40px 40px;
        max-width: 440px;
        margin: 0 auto;
    }
    /* Counter Section */
    
    .count-area {
        margin-top: -18px
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .count-area .col-lg-4:nth-child(1) .count-clients .single-counter,
        .count-area .col-lg-4:nth-child(2) .count-clients .single-counter {
            padding-bottom: 0px;
            text-align: center
        }
    }
    
    @media only screen and (min-width: 576px) and (max-width: 767px) {
        .count-area .col-lg-4:nth-child(1) .count-clients .single-counter,
        .count-area .col-lg-4:nth-child(2) .count-clients .single-counter {
            padding-bottom: 0px;
            text-align: center
        }
    }
    
    @media (max-width: 575px) {
        .count-area .col-lg-4:nth-child(1) .count-clients .single-counter,
        .count-area .col-lg-4:nth-child(2) .count-clients .single-counter {
            padding-bottom: 0px;
            text-align: center
        }
    }
    
    .count-area .count-clients {
        display: flex;
        justify-content: center
    }
    
    .count-area .count-clients .single-counter {
        padding: 60px 0;
        display: flex
    }
    
    .count-area .count-clients .single-counter:last-child {
        margin-right: 0px
    }
    
    .count-area .count-clients .single-counter .count-number span {
        color: #fff;
        font-size: 55px;
        font-weight: 700;
        margin-bottom: 0;
        display: block
    }
    
    .count-area .count-clients .single-counter p {
        font-size: 14px;
        font-weight: 300;
        line-height: 1;
        margin: 0;
        padding: 0
    }
    
    .count-area .count-clients .single-counter .count-text {
        padding-left: 20px
    }
    
    .count-area .count-clients .single-counter .count-text p {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: block
    }
    
    .count-area .count-clients .single-counter .count-text h5 {
        color: #fff;
        font-size: 30px;
        text-transform: capitalize;
        margin-bottom: 0px;
        display: block
    }
    
    .count-bg {
        background-size: cover;
        background-repeat: no-repeat
    }
    /* Companies we have collaborations with */
    
    #mainwrapper .box {
        border: 5px solid #fff;
        cursor: pointer;
        height: 240px;
        float: left !important;
        margin: 5px;
        position: relative;
        overflow: hidden;
        width: 240px;
        -webkit-box-shadow: 1px 1px 1px 1px #ccc;
        -moz-box-shadow: 1px 1px 1px 1px #ccc;
        box-shadow: 1px 1px 14px 1px #ccc;
    }
    
    #mainwrapper .box img {
        position: absolute;
        left: 0;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    /* Announcement card styles */
    
    marquee {
        max-height: 230px;
    }
    
    .pointer {
        cursor: pointer;
    }
    
    .card-header {
        text-align: center;
        background: #003262;
        color: #f2f2f2;
        font-weight: 500;
        font-size: 2rem;
    }
    
    .test a {
        text-decoration: none;
        color: black !important;
    }
    
    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 70%;
            margin: 0.25rem auto;
        }
    }
    /* For header text */
    
    @media (max-width: 576px) {
        .text {
            font-size: 320%;
        }
    }
    /* <link type="text/css" href="{% static 'pages/home.css' %}"> */
    
    @media screen and (max-width: 1199px) {
        .desktop {
            display: none;
        }
    }
    
    @media screen and (min-width: 1200px) {
        .mobile {
            display: none;
        }
    }
</style>
{% endblock content-blog %} {% block content %}
<div style="padding-top:90px;"></div>
<!-- Hero Header -->
<div class="page-header" data-parallax="true" style="background-image: url(https://i.imgur.com/dkRP5jr.jpg); height: 570px;">
    <div class="container" style="text-align:center; overflow: hidden;">
        <p class="text"> <span class="text__first"><span class="text__word" style="font-size: 4rem;">WELCOME TO</span><span class="text__first-bg"></span></span><br/><span class="text__second" style="margin: 0 auto;"><span class="text__word">SPE IIT (ISM) DHANBAD CHAPTER</span>
            <span class="text__second-bg"></span>
            </span>
        </p>
    </div>
</div>
<!-- Hero Header end -->


<!-- Who we are and announcement section -->
<div class="main main-raised">
    <div class="container" style="color: black !important;font-family: 'Dosis', sans-serif;">
        <div class="row">
            <div class="col-lg-5 col-sm-12" style="padding:4% 1%;">
                <p style="font-size: 4rem; font-weight: 700; text-align: center;">WHO WE ARE</p>
                <p style="line-height: 2.0; font-size: 2.0rem;font-weight:500;">
                    Since 1984, SPE IIT (ISM) STUDENT CHAPTER has kept expanding itself to from its being. Taking the oath to help the students, the institute and the society in general, it has been paving an incredible path. From being, one of its kind in the country to
                    be the OUTSTANDING STUDENT CHAPTER (2010 & 2015) globally, it has not only brought laurels to the institute but also the country at the global level.
                </p>
                <div class="container" style=" padding-top: 50px;
                        margin: 0 auto;
                        width: 100%;
                        text-align: center;">
                    <a href="{% url 'about-page' %}" class="button" style="font-size: 20px;">Read More</a>
                </div>
            </div>
            <div class="col-lg-5 offset-md-2 col-sm-12" style="padding:7% 1%;">
                <div class="card shadow">
                    <div class="card-header">ANNOUNCEMENTS</div>
                    <div class="card-body">
                        <div class="test">
                            <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start(); " scrollamount="3">
                                <p> <b>
                                 <br> <a href="#">1. WELCOME TO THE OFFICIAL WEBSITE OF SPE IIT ISM STUDENT CHAPTER!</a><br>
                                 <br> <a href="{% url 'gazette-page' %}">
                                    2. Themed as "Unravelling a Metamorph: Energy in Transit", Gazette 10.0 is here to take
                                    you to an erudite virtual read-out ride!!</a><br>
                                 <br> <a href="https://www.youtube.com/watch?v=2f2ZrcqlCFI">
                                    3. The first big juncture of SPE IIT (ISM) Dhanbad SC Essentials+ series - Machine
                                    Learning Workshop by Mr. Prithvi Singh Chauhan. Catch us live for the beginning session
                                    tonight at 9 PM!</a><br>
                                 <br> <a href="http://www.iitismspe.org/Events/Event/23/">
                                    4. Under the banner of the Diversity and Inclusion, the SPE IIT (ISM) Dhanbad SC is
                                    glad to present an Essay Competition on the occasion of Pride Month'21! Express a
                                    powerful message through your words this June 🏳️‍🌈.</a><br>
                                </b></p>
                            </marquee>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Who we are and announcement section end-->
<br><br>


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container desktop" style="margin: auto; margin-bottom: 50px;">
    <h1 style="font-size: 3em; font-weight: 600; padding-bottom: 15px;">Oil Prices Chart:</h1>
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/markets/futures/" rel="noopener" target="_blank"><span class="blue-text">Commodities</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
        {
            "colorTheme": "dark",
            "dateRange": "3M",
            "showChart": true,
            "locale": "in",
            "largeChartUrl": "",
            "isTransparent": false,
            "showSymbolLogo": true,
            "width": "1000",
            "height": "720",
            "plotLineColorGrowing": "rgba(25, 118, 210, 1)",
            "plotLineColorFalling": "rgba(25, 118, 210, 1)",
            "gridLineColor": "rgba(182, 182, 182, 0)",
            "scaleFontColor": "rgba(120, 123, 134, 1)",
            "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
            "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
            "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
            "tabs": [{
                "title": "Commodities",
                "symbols": [{
                    "s": "NYMEX:CL1!",
                    "d": "Crude Oil"
                }, {
                    "s": "NYMEX:NG1!",
                    "d": "Natural Gas"
                }, {
                    "s": "TVC:USOIL"
                }, {
                    "s": "TVC:UKOIL"
                }, {
                    "s": "NYMEX:RB1!"
                }, {
                    "s": "NYMEX:YF1!"
                }, {
                    "s": "CBOT:EH1!"
                }],
                "originalTitle": "Commodities"
            }]
        }
    </script>
</div>
<!-- TradingView Widget END -->

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container mobile" style="margin: auto; margin-bottom: 50px;">
    <h1 style="font-size: 2em; font-weight: 600; padding-bottom: 5px;">Oil Prices Chart:</h1>
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/markets/futures/" rel="noopener" target="_blank"><span class="blue-text">Commodities</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
        {
            "colorTheme": "dark",
            "dateRange": "3M",
            "showChart": true,
            "locale": "in",
            "largeChartUrl": "",
            "isTransparent": false,
            "showSymbolLogo": true,
            "width": "360",
            "height": "700",
            "plotLineColorGrowing": "rgba(25, 118, 210, 1)",
            "plotLineColorFalling": "rgba(25, 118, 210, 1)",
            "gridLineColor": "rgba(182, 182, 182, 0)",
            "scaleFontColor": "rgba(120, 123, 134, 1)",
            "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
            "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
            "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
            "tabs": [{
                "title": "Commodities",
                "symbols": [{
                    "s": "NYMEX:CL1!",
                    "d": "Crude Oil"
                }, {
                    "s": "NYMEX:NG1!",
                    "d": "Natural Gas"
                }, {
                    "s": "TVC:USOIL"
                }, {
                    "s": "TVC:UKOIL"
                }, {
                    "s": "NYMEX:RB1!"
                }, {
                    "s": "NYMEX:YF1!"
                }, {
                    "s": "CBOT:EH1!"
                }],
                "originalTitle": "Commodities"
            }]
        }
    </script>
</div>
<!-- TradingView Widget END -->

<br><br>

<!-- Blogs Section -->

<div class="container-fluid" style=" background-image: url(https://i.imgur.com/toNtkZs.jpg) !important; background-repeat: no-repeat; background-size: cover;">
    <div class="container" style="padding:5% 0;font-family: 'Dosis', sans-serif; overflow: hidden;">
        <p style="padding-bottom: 5%;font-size: 5rem; font-weight: 700; text-align: center; color: #fff;">BLOGS</p>
        <div class="post">
            <div class="post-left">
                <div class="post-left_title">What’s fueling the global Things</div>
                <div class="post-left_title_sub">Popular Blog</div>
                <div class="post-left_border"></div>
                <div class="post-left_author">
                    <img src="/static/pages/landingpage-bg/chapter-inv-logo.png">
                    <p>Anantharaman Shankar</p>
                </div>
            </div>
            <div class="post-right">
                <div class="post-right_body">
                    <p><span>T</span>hings are looking challenging for the global downstream market. With MARPOL regulations scheduled to go into effect on January 1 and the energy transition well underway, the outlook is more complex than ever. With that
                        in mind, what can we expect to see within the downstream market? What, besides major factors like MARPOL and the energy transition, will shape the market going forward, and what developments might emerge in the coming few years?
                    </p>
                </div>
                <div class="post-right_footer">
                    <div class="post-right_footer_date">
                        <p>Friday 06 Oct 2020</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style=" padding-top: 50px;
                    margin: 0 auto;
                    width: 100%;
                    text-align: center;">
            <a href="{% url 'blog-home' %}" class="button" style="font-size: 20px;">Click to read more</a>
        </div>
    </div>
</div>

<!-- Blog Section End -->

<!-- Jquery Counter -->
<!-- CountDown Area Start -->
<div class="count-area">
    <div class="container">
        <div class="count-wrapper count-bg" style="background-image:url(https://i.pinimg.com/originals/7f/0c/38/7f0c38d0510ac7648c89a90d7e40829c.jpg);">
            <div class=" row justify-content-center ">
                <div class="col-lg-4 col-md-4 col-sm-6 ">
                    <div class="count-clients ">
                        <div class="single-counter ">
                            <div class="count-number">
                                <span class="counter">1000</span>
                            </div>
                            <div class="count-text ">
                                <p>Number of Lives</p>
                                <h5>+ IMPACTED</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 ">
                    <div class="count-clients ">
                        <div class="single-counter ">
                            <div class="count-number ">
                                <span class="counter">15</span>
                            </div>
                            <div class="count-text ">
                                <p>Professional</p>
                                <h5>Collaborations</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 ">
                    <div class="count-clients ">
                        <div class="single-counter ">
                            <div class="count-number ">
                                <span class="counter">6700</span>
                            </div>
                            <div class="count-text ">
                                <p>Social Media Reach</p>
                                <h5>FOLLOWERS</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CountDown Area End -->
<!-- Jquery Counter end-->

<!-- Social Media Cards -->
<div class="main main-raised ">
    <div class="container " style="padding: 5% 1%; ">
        <div class="row ">
            <div class="col-md-4 col-sm-12 " data-aos="fade-up " data-aos-duration="1500 ">
                <div class="card shadow ">
                    <div class="card-header ">Facebook</div>
                    <div class="card-body " style="line-height: 24px; ">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fspeismsc%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId
                " width="300 " height="350 " style="border:none;overflow:hidden " scrolling="no " frameborder="0 " allowTransparency="true " allow="encrypted-media "></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-2 col-sm-12 " style="color: black !important;font-family: 'Dosis', sans-serif; margin-bottom: 8%;" data-aos="fade-up " data-aos-duration="1500">
                <p style="font-size: 4rem; font-weight: 700; text-align: center; ">GAZETTE 2021</p>
                <div class="card-gazette " style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/lRDm1Ic.jpg) ">
                    <div class="gazette-body ">
                        <h3 class="card-title " style="font-weight: 500; font-size: 2.5rem; color:#fff; ">UNRAVELLING A METAMORPH: ENERGY IN TRANSIT</h3>
                        <p class="card-description ">
                            <div style="color: hsla(0,0%,100%,.7)!important; padding: 5% 0%; ">This gazette, inspired by SPE International's newsletter, "The Way Ahead", started out as a magazine on the oil and gas scenario to dessiminate knowledge about technical advancements in exploration and production.</div>
                        </p>
                        <!-- <a href="# " class="btn btn-danger btn-round ">
                                    <i class="material-icons ">subject</i> Read
                                </a> -->
                        <div class="container " style=" margin: 0 auto; width: 100%; text-align: center; ">
                            <a href="{% url 'gazette-page' %} " class="button " style="font-size: 20px; ">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
            <iframe width="75%" height="538" src="https://www.youtube.com/embed/2f2ZrcqlCFI" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen ></iframe>
    </div>
    <br><br><br><br>

    <!-- Sponsors section -->
    <div class="container" style="overflow: hidden !important; padding: 0% 2%;" data-aos="fade-up" data-aos-duration="1500">
        <div style="font-family: 'Dosis', sans-serif; color:#323d47; text-align:center;overflow: hidden !important;">
            <p style="font-size:4.4rem; font-weight: 700;">PROFESSIONAL COLLABORATIONS</p>
        </div>
        <div class="row" id="mainwrapper" style="padding:2% 0%">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div id="box-1" class="box" style="left: 50px;">
                    <a href="https://ongcindia.com/wps/wcm/connect/en/home/"><img id="image-1" src="https://www.ongcindia.com/wps/wcm/connect/b4ee71c1-8fb3-4a9e-866c-cc96ef9e6edb/logopng.png?MOD=AJPERES&CONVERT_TO=url&CACHEID=ROOTWORKSPACE-b4ee71c1-8fb3-4a9e-866c-cc96ef9e6edb-n1XfB6-" style="object-fit: contain; overflow: hidden !important; width: 100%; max-height: 100%;"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div id="box-1" class="box" style="left: 50px;">
                    <a href="https://www.cairnindia.com/Pages/Home.aspx"><img id="image-1" src="https://www.cairnindia.com/SiteAssets/Images/cairn-india-logo.png" style="top:45px; object-fit: contain; overflow: hidden !important; width: 100%; max-height: 100%;"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div id="box-1" class="box" style="left: 50px;">
                    <a href="https://www.halliburton.com/en-US/default.html"><img id="image-1" src="https://seeklogo.com/images/H/Halliburton-logo-13832260B9-seeklogo.com.png" style="object-fit: contain; overflow: hidden !important; width: 100%; max-height: 100%;"></a>
                </div>
            </div>
        </div>
        <div class="row" id="mainwrapper" style="padding:2% 0%;padding-bottom: 10%;">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div id="box-1" class="box" style="left: 50px;">
                    <a href="https://www.askeor.com/index.html"><img id="image-1" src="https://i.imgur.com/o1kYC4W.png" style="top:45px; object-fit: contain; overflow: hidden !important; width: 100%; max-height: 100%;"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div id="box-1" class="box" style="left: 50px;">
                    <a href="https://www.slb.com/"><img id="image-1" src="https://alanweiss.com/wp-content/uploads/2019/07/schlumberger.jpg" style="object-fit: contain; overflow: hidden !important; width: 100%; max-height: 100%;"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div id="box-1" class="box" style="left: 50px;">
                    <a href="https://www.kockw.com/sites/EN/Pages/Default.aspx"><img id="image-1" src="https://upload.wikimedia.org/wikipedia/commons/3/3d/KOC_Logo_for_wikipedia.png" style="object-fit: contain; overflow: hidden !important; width: 100%; max-height: 100%;"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--For header text animation-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js "></script>
<script>
    // Header text envelope animation
    window.onload = function() {
        var tl = new TimelineLite({
                delay: 0.6
            }),
            firstBg = document.querySelectorAll('.text__first-bg'),
            secBg = document.querySelectorAll('.text__second-bg'),
            word = document.querySelectorAll('.text__word');

        tl
            .to(firstBg, 0.2, {
                scaleX: 1
            })
            .to(secBg, 0.6, {
                scaleX: 1
            })
            .to(word, 0.1, {
                opacity: 1
            }, "-=0.1 ")
            .to(firstBg, 0.2, {
                scaleX: 0
            })
            .to(secBg, 0.2, {
                scaleX: 0
            });
    }
</script>
<!-- Counter Animation -->
<script type="text/javascript">
    $('.counter').counterUp({
        delay: 10,
        time: 1000
    });
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock content %}