{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/landingpage.css' %}">
</head>

<body>

    <div class="banner">

        <div class="img-text">
            <h2>SPE IIT ISM STUDENT CHAPTER</h2>
            <img class="" src="{% static 'pages/landingpage-bg/SPE-white-gif.gif' %}" style="height: 200px;">
            <div class="text-case">
                <p class="chapter-text">SPE IIT ISM DHANBAD STUDENT CHAPTER started its journey in 1984. This was the first
                    student chapter at any Indian university and since then the chapter started a new way to connect with the
                    students, industry, alumni, research fellow across the globe to gain an insight into the industry with a gulp
                    of research essence.</p>
            </div>

            <div class="center" style="float: left; margin-left: 180px;">
                <div class="button"><a class="btn" href="{% url 'home-page' %}">HOME</a></div>
            </div>

            <div class="center" style="float: right; margin-right: 180px;">
                <div class="button"><a class="btn" href="{% url 'signin-page' %}">SIGN IN</a></div>
            </div>

        </div>

        <div class="enclose"></div>

    </div>

</body>