@import "compass/css3";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

/* HEADER STYLES */

.page-header {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    height: 200px;
    align-items: center;
}

.page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    z-index: -1;
}


/* Header text effect */

.text {
    display: inline-block;
    font-size: 8rem;
    font-weight: 700;
}

.text__first,
.text__second {
    position: relative;
}

.text__word {
    opacity: 0;
}

.text__first-bg,
.text__second-bg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    transform-origin: left;
    transform: scaleX(0);
}

.text__second-bg {
    width: 160%;
}

.text__first-bg {
    background-color: #0634b3;
}

.text__second-bg {
    background-color: #14a0ca;
}

.text__second {
    margin-left: 15vmin;
}


/* Raised card effect styles */

.main {
    background: #ffffff;
    position: relative;
    z-index: 3;
}

.main-raised {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 830px) {
    .main-raised {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.main.main-raised {
    margin-top: -30px;
}


/* Raised card effect styles end */


/* Read more button */

.button {
    display: inline-block;
    text-decoration: none !important;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 83, 207);
    border-radius: 10rem;
    z-index: -2;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #053388;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover {
    color: #fff;
}

.button:hover:before {
    width: 100%;
}


/* Blog Section */

.post {
    display: flex;
    width: 1000px;
}

.post-left {
    width: 40%;
    background-color: #20206c;
    color: white;
    padding: 3em;
    position: relative;
}

.post-left_title {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
}

.post-left_title_sub {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0.25em;
}

.post-left_border {
    border: 2px solid #ef5350;
    width: 15%;
    margin-top: 1em;
}

.post-left_author {
    position: absolute;
    bottom: 2em;
    display: flex;
    align-items: center;
}

.post-left_author img {
    width: 2.5em;
    margin-right: 1em;
    border: 1px solid #fefefe;
    border-radius: 50%;
}

.post-right {
    width: 60%;
    background-color: #fefefe;
    color: #484855;
}

.post-right_body {
    line-height: 2;
    font-size: 20px;
    padding: 2em;
}

.post-right_body p {
    margin-top: 1em;
}

.post-right_body p span {
    font-size: 2em;
}

.post-right_footer {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -4px 3px -2px rgba(0, 0, 0, 0.1);
    padding: 2em;
}

.post-right_footer_date {
    text-transform: uppercase;
}

.post-right_footer_date span {
    font-weight: 700;
}

.post-right_footer_pictos {
    font-size: 1.5em;
    margin-right: 1em;
}

.post-right_footer_pictos .fa-heart {
    color: #ef5350;
    margin-right: 1em;
}


/* Gaztte Card Section */

.card-gazette {
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background-size: cover;
    text-align: center;
    position: relative;
    min-height: 280px;
    padding: 40px 40px;
    max-width: 440px;
    margin: 0 auto;
}