body {
    height: 98%;
    background-image: url('https://i.pinimg.com/originals/82/bf/df/82bfdfc7888d04200b1e8843208eb5d5.jpg');
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.pinimg.com/originals/82/bf/df/82bfdfc7888d04200b1e8843208eb5d5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    width: 1000px;
    height: 600px;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner:before {
    width: 1000px;
    height: 600px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.2);
    filter: blur(8px);
}

.img-text {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 1000px;
}

.img-text h2 {
    color: white;
    font-family: 'oxygen';
    margin: 15px;
    font-size: 55px;
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 15px;
}

.chapter-title {
    transform: translate(-50%, -50%);
}

.enclose:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: white;
    z-index: -1;
}

.enclose:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: white;
    z-index: -2;
    filter: blur(50px);
}

.text-case {
    width: 750px;
    margin: auto;
}

.chapter-text {
    font-family: 'oxygen';
    color: white;
    font-size: 1.15em;
    font-weight: 750;
    margin-bottom: 30px;
    margin-top: 10px;
}

.button {
    position: relative;
    text-align: center;
    width: 200px;
    padding: 15px;
    font-size: 25px;
    border: 5px solid #4cf7db;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    border-radius: 100px;
    transition: 1.25s;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0px 25px 0 #4cf7db inset, 0 0px 25px 0 #4cf7db, 0 0px 25px 0 #4cf7db inset, 0 0px 25px 0 #4cf7db;
    text-shadow: 0 0 5px #4cf7db, 0 0 5px #4cf7db;
}

.btn {
    text-decoration: none;
    color: #4cf7db;
}