#back-to-top-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #ff0800;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: white;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: white;
    color: #484848;
}
