<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'user/common-styles.css' %}">
    <!-- CSS -->

</head>

<body>
<style>
    body {
        background-image: url('https://i.imgur.com/VWmBa4H.jpg');
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    @media screen and (max-width:1200px) {
    body {
        background-image: url('https://imgur.com/4dygAcu');
        font-size: 2em;
        }
    }
</style>

    <div class="content-section mx-auto d-block" id="SignUpVert">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">

                <!-- SPE logo -->
                <img id='spe-logo' class="mx-auto d-block" src="{% static 'pages/landingpage-bg/chapter-logo.png' %}">
                <!-- SPE logo -->

                <!-- Horizontal Divider -->
                <hr class="accent-2 mb-4 mt-0 d-block mx-auto">
                <!-- Horizontal Divider -->
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form|crispy }}
            </fieldset>

            <!-- Sign Up Button -->
            <div class="form-group">
                <button type="submit" id="SignUpBtn" class="btn btn-outline-primary waves-effect d-block mx-auto"
                style="margin-top: 0px;">Sign Up</button>
            </div>
            <!-- Sign Up Button -->

        </form>

        <!-- Horizontal Divider -->
        <hr class="accent-2 mb-4 mt-0 d-block mx-auto">
        <!-- Horizontal Divider -->

        <!-- Sign In Link -->
        <p id="LogInLink" class="text-muted">
            Already have an account? <a class="ml-2" href="{% url 'signin-page' %}">Sign In</a>
        </p>
        <!-- Sign In Link -->

    </div>

</body>
